<main id="content" class="content" role="main">
  <video autoplay style="position: fixed; bottom: 0; right: 0; width: 320px; height: 240px; display: none;"></video>
  <ol class="breadcrumb">
    <li><a href="#/retorno">Retorno</a></li>
    <li class="active">Novo retorno</li>
  </ol>
  <h1 class="page-title">Novo retorno</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-warning alert-sm">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span class="fw-semi-bold">Obs:</span> Para funcionamento correto desta funcionalidade, é necessária a
        instalação <strong><a
            href="https://chrome.google.com/webstore/detail/screen-capturing/ajhifddimkapgcifgcodmmfdlknahffk"
            target="_blank">deste plugin</a></strong> no navegador Google Chrome.
      </div>
      <section class="widget" ng-cloak>
        <header>
          <span class="thumb-sm avatar pull-left">
            <img class="img-circle" ng-src="{{paciente.avatar}}" alt="{{paciente.nome}}">
          </span>
          <h4>
            &nbsp; {{paciente.nome}}
          </h4>
        </header>
        <div class="widget-body">
          <div class="stats-row">
            <div class="stat-item">
              <h6 class="name">Código</h6>
              <p class="value">{{paciente.id}}</p>
            </div>
            <div class="stat-item">
              <h6 class="name">Sexo</h6>
              <p class="value">{{paciente.sexo}}</p>
            </div>
            <div class="stat-item">
              <h6 class="name">Nascimento</h6>
              <p class="value"> {{paciente.data_nasc}}</p>
            </div>
            <div class="stat-item">
              <h6 class="name">Telefone</h6>
              <p class="value">{{paciente.telefone}}</p>
            </div>
            <div class="stat-item pull-right">
              <button class="btn btn-danger mb-xs mr-md" id="btn-start-recording" ng-click="startRecording()"><i
                  class="fa fa-circle">&nbsp;</i> Começar gravação</button>
              <button class="btn btn-danger mb-xs" id="btn-stop-recording" ng-click="stopRecording()"
                style="display: none"><i class="fa fa-stop">&nbsp;</i> Parar gravação</button>
              <button class="btn mb-xs" ng-if="iCanEnd" id="btn-stop-recording" ng-click="_end()"> Encerrar Retorno</button>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Exames -->

    <section class="col-md-12 text-align-center">
      <div class="widget exames">
        <div class="widget-body" ng-show="!provider">
          <h2>Exame</h2>
          <img style="width: 100%" ng-src="{{liveExam}}">
        </div>
        <div class="widget-body" ng-show="provider">
          <img class="spinner" ng-show="loading"
            style="width: 120px; position: absolute; top: calc(50% - 60px); left: calc(50% - 60px); z-index: 5000; background: #fff; border-radius: 50%; box-shadow: 0px 5px 20px 0px #0000001a;"
            src="../img/spinner.svg">
          <canvas id="can" width="1024" height="720">Seu navegador não suporta canvas HTML5</canvas>
          <div class="tools">
            <div class="colors">
              <div ng-repeat="color in colors" style="background:{{color}};" ng-class="{selectedTool: color === 'red'}"
                id="{{color}}" ng-click="changeColor($event)"></div>
            </div>
            <div class="pencils">
              <div ng-repeat="pencil in pencils" ng-class="{selectedTool: pencil === 4}" id="thickness-{{pencil}}"
                ng-click="changeThickness(pencil, $event)"></div>
            </div>
            <button type="button" class="btn btn-xs pull-left" ng-class="{'btn-primary': text, 'btn-default': !text}"
              ng-click="text = !text"><i class="fa fa-font"></i></button>
            <button type="button" class="btn btn-xs btn-default pull-left ml-sm"
              ng-click="make_base(lastSrc)">Limpar</button>
          </div>

          <slick slides-to-show=4 slides-to-scroll=4 settings="slickConfig">
            <div ng-repeat="exame in exames" ng-click="make_base(exame.imagem)"><img ng-src="{{exame.imagem}}"></div>
          </slick>
        </div>
      </div>
    </section>

    <section class="col-md-12" ng-show="examesPdf.length > 0">
      <div class="widget">
        <header>
          Exames PDF
        </header>
        <div class="widget-body no-padding">
          <div ng-repeat="examePdf in examesPdf" class="list-group list-group-lg">
            <a class="list-group-item" target="_blank" ng-href="{{examePdf.imagem}}"><i
                class="fa text-primary fa-file mr-sm"></i>{{examePdf.titulo}}</a>
          </div>
        </div>
      </div>
    </section>

    <div class="modal fade" id="modalPreview" ng-show="provider" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <video id="preview" style="width: 100%; z-index: 10000" autoplay controls></video>
          </div>
          <div class="modal-footer">
            <div class="progress progress-striped active mt" style="display: none;">
              <div class="progress-bar progress-bar-success fw-semi-bold" style="width: 0%;">
                0%
              </div>
            </div>
            <button class="btn btn-primary mb-xs pull-right" id="btn-send-recording"
              ng-click="sendRecording()">Enviar</button>
            <button class="btn btn-default mr-xs pull-right" id="cancel" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>