<main ng-if="accessPermission" id="content" class="content" role="main">
  <h1 class="page-title text-center">Visualização de retorno</h1>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <section class="widget">
        <div class="widget-body">

          <video ng-src="{{video}}" controls autoplay></video>
        </div>
      </section>
    </div>
  </div>
</main>
