a, .page-title {
  color: #003964;
}

body {
  color: #14415f;
  background: #eee;
  font-family: "Open Sans",sans-serif;
}

.main-logo {
  margin-top: 16px;
  width: 140px;
}

.content {
  padding-top: 60px;
  background: #eee;
}

.myGrid {
    width: 500px;
    height: 250px;
  }

/* Mensagem */
.mensagem {
  font-size: 14px;
}

/* Video */
.widget video {
  width: 100%;
}

/* Loader */
.spinner {
  width: 30px;
}

.videos {
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 3000;
  height: 100%;
  overflow: scroll;
  padding: 0;
}

.videos .widget {
  padding: 15px 0;
  border-bottom: 1px solid rgb(241, 241, 241);
  margin: 0;
  border-radius: 0;
}

.videos .widget h4 {
  font-size: 14px;
  margin: 0 0 15px 0;
}

.patientName {
  display: inline-block;
}

.date {
  font-weight: bold;
  padding: 2px 6px;
  background: rgb(244, 244, 244);
  border-radius: 5px;
}

.date i {
  margin-right: 8px;
}

/* Exames */
.exames canvas {
  border-radius: 3px;
  border: 1px solid #f1f1f1;
  position: relative;
  width: 100%;

}

.exames canvas:hover {
  cursor: crosshair;
}

.modal {
  z-index: 4000;
}

/* .exames::before {
  content: 'Live';
  position: absolute;
  top: 20px;
  left: 25px;
  z-index: 5000;
  color: white;
  background: red;
  border-radius: 3px;
  padding: 2px 4px;
  font-size: 11px;
  animation: blinker 1.4s ease-in-out infinite;
} */

/* Mensagem */
#mensagens {
  height: 280px;
}

#mensagensH {
  height: 400px;
}

#mensagem {
  margin-bottom: 20px;
}

#escrevendo {
  display: inline-block;
  margin: 0;
}

/* Convigurações do slider de exames */
slick div {
  margin: 0 5px;
  outline: none;
}

slick div img {
  max-height: 100px;
  border-radius: 3px;
}

slick div img:hover {
  cursor: pointer;
}

slick .slick-prev:before, slick .slick-next:before, slick .slick-dots li.slick-active button:before {
  color: #5d8fc2 !important;
}

.tools {
  top: 0;
  left: calc(50% - 155px);
  width: 310px;
  position: absolute;
  padding-top: 6px;
  background: white;
  border-radius: 0 0 3px 3px;
  border: 1px solid #f1f1f1;
  border-top: none;
  z-index: 3000;
}

.tools .selectedTool {
  border: 1px solid #fff;
  box-shadow: 0 3px 10px #0000005c;
}

.colors {
  float: left;
  margin-left: 5px;
  display: inline-block;
}

.colors div {
  width: 20px;
  height: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  box-sizing: border-box;
  margin-right: 2px;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
}

.pencils:hover,
.colors:hover {
  cursor: pointer;
}

.pencils {
  float: left;
  margin-left: 10px;
  display: inline-block;
}

.pencils div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: black;
  margin-right: 6px;
  display: inline-block;
  vertical-align: middle;
}

.pencils div:nth-child(2) {
  width: 10px;
  height: 10px;
}

.pencils div:last-child {
  width: 12px;
  height: 12px;
}

/* Button */

.btn-primary {
  background-color: #003964;
  border-color: #00335a;
}

.btn-danger {
  background-color: #dd2626;
  border-color: #ca2047;
}

.btn-danger:hover {
  background-color: #b7201f;
  border-color: #b52625;
}

.stats-row a {
  text-decoration: underline;
}

.breadcrumb > .active {
  color: #14415f !important;
}

.widget {
  box-shadow: none;
}

/* Navbar */
.navbar-default {
  background-color: #003964;
}

.navbar-default .navbar-nav > li > a {
  color: #fff !important;
  opacity: 0.7;
  transition: 300ms;
  -webkit-transition: 300ms;
}

.navbar-default .navbar-nav > li > a:hover {
  opacity: 1;
}

.user {
  color: #fff;
  margin-top: 20px;
  margin: 14px 40px;
}

/* .current {
  color: #14415f !important;
  background: #eee !important;
  border-color: transparent !important;
  cursor: default !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #dcdcdc !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #fff !important;
  background: #003964 !important;
  border-color: transparent !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  background: #dcdcdc !important;
} */

/* Timeline */
.event-icon-success {
  background-color: #00a651 !important;
  border-color: #eeeeee !important;
  box-shadow: none !important;
}

.event-icon-danger {
  background-color: #CC2427 !important;
  border-color: #eeeeee !important;
  box-shadow: none !important;
}

.event {
  background-color: #f5f5f6;
  padding-bottom: 18px;
  box-shadow: none;
}

.event-heading {
  font-weight: 700;
  font-size: 16px;
  color: #737881;
}

.remove {
  position: absolute;
  z-index: 2000;
  border: none;
  margin-top: 3px;
  right: 0;
  color: #CC2427;
  background: transparent;
}

.chat {
  position: fixed;
  left: 34%;
  width: 50%;
  height: 500px;
  z-index: 5000;
  transition: 500ms;
  -webkit-transition: 500ms;
}

.chatH {
  height: 479px;
  left: 25%;
}

.chatOffH {
  bottom: -425px;
}

.chatOn {
  bottom: 0;
}

.chatOff {
  bottom: -446px;
}

.chat > .widget {
  margin-bottom: 0;
  border-radius: 3px 3px 0 0;
}

.chat > .widget > header {
  padding: 10px 20px;
}

.searchbox, .selectbox {
  border: 1px solid #e0dede;
  padding: 4px 8px;
  border-radius: 3px;
}

/* Media Queries */

@media (min-width: 992px){
  .timeline .event-time {
    width: 10%;
  }

  .timeline .event {
    width: 70% !important;
  }

  .timeline:before, .timeline .event-icon {
    left: 20%;
  }

  .timeline:before {
    background-color: #eeeeee;
  }
}

@media (max-width: 992px) {
  .chat {
    width: 80%;
    left: 10%;
  }
}
