<main id="content" class="content" role="main">
  <div class="row">
    <div class="login-container col-md-4 col-md-offset-4 mt-xlg">
      <div class="alert alert-success alert-sm row" ng-if="error">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <span class="fw-semi-bold"> {{error}} </span>
      </div>

      <section class="widget widget-login animated fadeIn row">
        <div class="widget-header col-md-12">
          <a class="text-align-center display-block" href="#/login"><i class="fa fa-chevron-left"></i> Voltar ao login</a>
          <h3 class="text-align-center">Esqueci minha Senha</h3>
          <form ng-submit="recover()" class="login-form mt-lg ng-pristine ng-valid">
            <div class="form-group">
              <label for="email">E-mail</label>
              <input id="email" type="email" class="form-control ng-pristine ng-valid ng-touched" ng-model="email">
            </div>
            <div class="clearfix text-align-center">
              <div class="btn-toolbar"><button type="submit" class="btn btn-md btn-primary" style="float: unset;">Enviar link de recuperação</button>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>
</main>
