<main id="content" class="content" role="main" ng-init="init()">
  <div class="col-md-offset-2 col-md-10">
    <ol class="breadcrumb" ng-show="provider">
      <li><a href="#/inicio">Inicio</a></li>
      <li class="active">{{paciente.nome}}</li>
    </ol>

    <h1 class="page-title">Consulta On-line</h1>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-10" ng-cloak>
      <section class="widget">
        <header>
          <span class="thumb-sm avatar pull-left">
               <img class="img-circle" ng-src="{{paciente.avatar}}" alt="{{paciente.nome}}">
               </span>
          <h4 class="patientName">
                  &nbsp; {{paciente.nome}}

               </h4>

               <div ng-show="owner" class="pull-right">
                 <div class="progress progress-striped active mt" style="display: none; width: 250px;">
                   <div class="progress-bar progress-bar-success fw-semi-bold" style="width: 0%;">
                     0%
                   </div>
                 </div>
                 <div>
                   <button id="encerrar" class="btn btn-sm btn-danger" ng-click="encerrar()">Encerrar conversa</button>
                   <button id="gravar" class="btn btn-sm btn-success" ng-click="iniciarGravacao()" style="display: none"><i class="fa fa-circle mr-sm"></i>Gravar vídeos</button>
                   <button id="convidar" type="button" role="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modalPrestadores">Convidar prestador</button>
                 </div>
               </div>
        </header>
        <div class="widget-body">
          <div class="stats-row">
            <div class="stat-item">
              <h6 class="name">Código</h6>
              <p class="value">{{paciente.id}}</p>
            </div>
            <div class="stat-item">
              <h6 class="name">Sexo</h6>
              <p class="value">{{paciente.sexo}}</p>
            </div>
            <div class="stat-item">
              <h6 class="name">Nascimento</h6>
              <p class="value"> {{paciente.data_nasc}}</p>
            </div>
            <div class="stat-item">
              <h6 class="name">Telefone</h6>
              <p class="value">{{paciente.telefone}}</p>
            </div>
            <div id="prontuario" class="stat-item" ng-show="provider">
              <h6 class="name">Prontuário</h6>
              <a ng-click="visualizacao = 'prontuario'" role="button">
                <p class="value">Visualizar</p>
              </a>
            </div>
            <div class="stat-item" ng-show="provider">
              <h6 class="name">Exames</h6>
              <a ng-click="visualizacao = 'exame'" role="button">
                <p class="value">Visualizar</p>
              </a>
            </div>
          </div>
      </section>
      </div>
    </div>

    <div class="col-md-2 videos">
      <!-- Media Local -->
      <div class="text-center">
        <section class="widget">
          <h4>
                <span class="fw-semi-bold">{{usuario.nome}}</span>
             </h4>
          <div id="media-local" class="widget-body text-align-center">
            <img class="height-150 img-circle" ng-src="{{usuario.avatar}}" alt="...">
            </br>
            <div class="row text-align-center">
              <div class="mt-sm col-xs-12">
                <span>
                    <!-- Video -->
                    <button id="desativar-video" class="btn btn-primary width-50" ng-click="mutar(true, 'video', $event)" style="display: none;"><i class="fa fa-video"></i></button>
                    <button id="ativar-video" class="btn btn-danger width-50" ng-click="mutar(false, 'video', $event)" style="display: none;"><i class="fa fa-video-slash"></i></button>
                    <!-- Audio -->
                    <button id="desativar-audio" class="btn btn-primary width-50" ng-click="mutar(true, 'audio', $event)" style="display: none;"><i class="fa fa-microphone"></i></button>
                    <button id="ativar-audio" class="btn btn-danger width-50" ng-click="mutar(false, 'audio', $event)" style="display: none;"><i class="fa fa-microphone-slash"></i></button>
              </span>
              </div>
            </div>
          </div>
        </section>
      </div>

      <!-- Media Remoto -->
      <div class="text-center" ng-repeat="on in online track by $index">
        <button class="remove" ng-if="criador === usuario.id && paciente.idApi !== on.idApi" ng-click="removeParticipant(on.id)"><i class="fa fa-times"></i></button>
        <section class="widget">
          <h4>
                <span class="fw-semi-bold">{{on.nome}}</span>
             </h4>
          <div id="{{on.id}}" class="widget-body text-align-center">
            <img class="height-150 img-circle" ng-src="{{on.avatar}}" alt="...">
            </br>
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <!-- Prontuário -->
      <section class="col-md-offset-2 col-md-10" ng-show="visualizacao == 'prontuario'">
        <div class="widget">
          <ul class="timeline">
            <li ng-repeat="entrada in prontuario | orderBy: '-inicio'">
              <time class="event-time">
                <span><b>{{entrada.inicio | amDateFormat:"DD/MM/YYYY   HH:mm:ss"}}</b></span>
                <span>{{entrada.inicio | amDateFormat:"HH:mm:ss"}}</span>
              </time>
              <span class="event-icon" ng-class="{'event-icon-success': entrada.status.nome === 'Finalizado', 'event-icon-danger': entrada.status.nome === 'Cancelado'}">
                <i ng-if="entrada.tipo.id == 1" class="fa fa-user-md"></i>
                <i ng-if="entrada.tipo.id == 2" class="fa fa-refresh"></i>
                <i ng-if="entrada.tipo.id == 3" class="fa fa-file-text"></i>
                <i ng-if="entrada.tipo.id == 4" class="fa fa-file"></i>
                <i ng-if="entrada.tipo === undefined" class="fa fa-file"></i>
              </span>
              <section class="event">
                <!-- Consultas and Retorno -->
                <div ng-if="entrada.tipo && !entrada.label">
                  <h4 class="event-heading">{{entrada.tipo.nome}} - {{entrada.status.nome}}</h4>
                  <div ng-if="entrada.prestador.nome !== undefined">
                    <label>Prestador:</label>
                    <span>{{entrada.prestador.nome}}</span>
                  </div>
                  <div ng-if="entrada.duracao != null">
                    <label>Tempo:</label>
                    <span>{{entrada.duracao}} minutos</span>
                  </div>
                  <div ng-if="entrada.descricao">
                    <label>Descrição:</label>
                    <span>{{entrada.descricao}}</span>
                  </div>
                </div>

                <!-- Receitas, Encaminhamentos and Exams -->
                <div class="row" ng-if="entrada.label === 'receituario'">
                  <div class="col-sm-9">
                    <div ng-repeat="receita in entrada.receituarios">
                      <h4 class="event-heading">Receita Prescrita: {{receita.nome}}</h4>
                      <div ng-repeat="item in receita.receituario_itens" style="margin-bottom: 1em;">
                        {{item.medicamento.nome_apresentacao}}
                        <b>Medicamento:</b>
                        <span>{{item.medicamento.nome_apresentacao}} |</span>

                        <b>Quantidade:</b>
                        <span>{{item.qtd}} |</span>

                        <b>Dosagem:</b>
                        <span>{{item.dosagem}} |</span>

                        <b>Unidade de Medida:</b>
                        <span>{{item.unidade_medida.nome}} |</span>

                        <b>Posologia:</b>
                        <span>{{item.posologia.nome}} |</span>

                        <b>Via:</b>
                        <span>{{item.via.nome}} |</span>

                        <b>Duração:</b>
                        <span>{{item.duracao.nome}} |</span>

                        <b>Frequência:</b>
                        <span>{{item.frequencia.nome}}</span>

                        <b ng-if="item.obs !== null">| Observação:</b>
                        <span ng-if="item.obs !== null">{{item.obs}}</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div ng-if="entrada.label === 'encaminhamentos'">
                  <h4 class="event-heading">Encaminhamento Realizado</h4>
                  <div>
                    <label>Médico Encaminhado:</label>
                    <span>{{entrada.prestador.nome}} |</span>

                    <label>Especialidade:</label>
                    <span>{{entrada.especialidade.descricao}}</span>
                  </div>
                  <div ng-if="entrada.observacao">
                    <label>Observação:</label>
                    <span>{{entrada.observacao}}</span>
                  </div>
                </div>

                <div class="row" ng-if="entrada.label === 'exames'">
                  <div class="col-sm-12">
                    <h4 class="event-heading">Exame Realizado</h4>
                    <!--<div>-->
                      <!--<label>Data:</label>-->
                      <!--<span>{{entrada.date | moment:"format":"DD/MM/YYYY"}}</span>-->
                    <!--</div>-->
                    <div ng-if="entrada.obs">
                      <label>Observação:</label>
                      <span>{{entrada.obs}}</span>
                    </div>
                    <div ng-if="entrada.exame">
                      <label>Exame:</label>
                      <span>{{entrada.exame}}</span>
                    </div>
                    <div ng-if="entrada.valor">
                      <label>Valor:</label>
                      <span>{{entrada.valor}}</span>
                    </div>
                    <div ng-if="entrada.resultado">
                      <label>Resultado:</label>
                      <span>{{entrada.resultado}}</span>
                    </div>
                  </div>
                </div>
                <div class="row" ng-if="entrada.label === 'arquivos'">
                  <div class="col-sm-8">
                    <h4 class="event-heading">Arquivo Registrado</h4>
                    <div>
                      <label>Título:</label>
                      <span>{{entrada.titulo}}</span>
                    </div>
                    <div ng-if="entrada.descricao">
                      <label>Descrição:</label>
                      <span>{{entrada.descricao}}</span>
                    </div>
                    <div ng-if="entrada.laudo">
                      <label>Laudo:</label>
                      <span>{{entrada.laudo}}</span>
                    </div>
                  </div>
                </div>
                <div class="row" ng-if="entrada.label === 'documentos'">
                  <div class="col-sm-8">
                    <h4 class="event-heading">Documento Médico Apresentado</h4>
                    <div>
                      <label>Nome:</label>
                      <span>{{entrada.nome}}</span>
                    </div>
                    <!--<div>-->
                      <!--<label>Tipo:</label>-->
                      <!--<span>{{entrada.documento_tipo.nome}}</span>-->
                    <!--</div>-->
                    <div>
                      <label>Texto:</label>
                      <span>{{entrada.texto}}</span>
                    </div>
                  </div>
                </div>
              </section>
            </li>
          </ul>
        </div>
      </section>

      <!-- Exames -->

      <section class="col-md-offset-2 col-md-10 text-align-center" ng-show="visualizacao == 'exame'">
        <div class="widget exames">
          <div class="widget-body" ng-show="!owner">
            <h2>Exame</h2>
            <img style="width: 100%" ng-src="{{liveExam}}">
          </div>
          <div class="widget-body" ng-show="owner">
            <img class="spinner" ng-show="loading" style="width: 120px; position: absolute; top: calc(50% - 60px); left: calc(50% - 60px); z-index: 5000; background: #fff; border-radius: 50%; box-shadow: 0px 5px 20px 0px #0000001a;" src="../img/spinner.svg">
            <canvas id="can" width="1024" height="720">Seu navegador não suporta canvas HTML5</canvas>
            <div class="tools">
              <div class="colors">
                <div ng-repeat="color in colors" style="background:{{color}};" ng-class="{selectedTool: color === 'red'}" id="{{color}}" ng-click="changeColor($event)"></div>
              </div>
              <div class="pencils">
                <div ng-repeat="pencil in pencils" ng-class="{selectedTool: pencil === 4}" id="thickness-{{pencil}}" ng-click="changeThickness(pencil, $event)"></div>
              </div>
              <button type="button" class="btn btn-xs pull-left" ng-class="{'btn-primary': text, 'btn-default': !text}" ng-click="text = !text"><i class="fa fa-font"></i></button>
              <button type="button" class="btn btn-xs btn-default pull-left ml-sm" ng-click="make_base(lastSrc)">Limpar</button>
            </div>

            <slick slides-to-show=4 slides-to-scroll=4 settings="slickConfig">
              <div ng-repeat="exame in exames" ng-click="make_base(exame.imagem)"><img ng-src="{{exame.imagem}}"></div>
            </slick>
          </div>
        </div>
      </section>

      <section class="col-md-offset-2 col-md-10" ng-show="visualizacao == 'exame' && examesPdf.length > 0">
        <div class="widget">
          <header>
            Exames PDF
          </header>
          <div class="widget-body no-padding">
            <div ng-repeat="examePdf in examesPdf" class="list-group list-group-lg">
              <a class="list-group-item" target="_blank" ng-href="{{examePdf.imagem}}"><i class="fa text-primary fa-file mr-sm"></i>{{examePdf.titulo}}</a>
            </div>
          </div>
        </div>
      </section>

      <!-- Chat -->

      <section class="chat" ng-class="{chatOn: chat, chatOff: !chat}">
        <div class="widget">
          <header ng-click="chat = !chat">
            <h4>
                  <span class="fw-semi-bold">Chat</span>
                  <i class="pull-right fa" ng-class="{'fa-chevron-down': chat, 'fa-chevron-up': !chat}"></i>
               </h4>
          </header>
          <ul id="mensagens" class="post-comments mt-sm footer" style="overflow-y:scroll; overflow-x:hidden;">
            <li ng-show="chatLoader"><img class="spinner" style="width: 60px; position: absolute; top: 160px; left: calc(50% - 30px); z-index: 5000; background: #fff; border-radius: 50%; box-shadow: 0px 5px 20px 0px #0000001a;" src="../img/spinner.svg"></li>
            <li ng-repeat="mensagem in mensagens" ng-model="mensagem" ng-bind-html-unsafe="mensagem.mensagem">
              <span class="thumb-xs avatar pull-left mr-sm">
                    <img class="img-circle" ng-src="{{mensagem.avatar}}" alt="...">
                    </span>
              <div class="comment-body">
                <h6 class="author fw-semi-bold">{{mensagem.nome}} <small>{{mensagem.hora}}</small>
                <span class="fa-stack fa-md" ng-if="mensagem.local && !mensagem.chatMessage" ng-class="{'text-muted': mensagem.status === 'sent' || mensagem.status === 'received', 'text-primary': mensagem.status === 'read'}">
                    <i ng-if="mensagem.status === 'received' || mensagem.status === 'read'" class="fa fa-check fa-stack-1x" style="margin-left:4px"></i>
                    <i ng-if="mensagem.status === 'received' || mensagem.status === 'read'" class="fa fa-check fa-inverse fa-stack-1x" style="margin-left:-3px;"></i>
                    <i class="fa fa-check  fa-stack-1x" style="margin-left:-4px"></i>
                </span>
              </h6>
                <p class="mensagem">{{mensagem.mensagem}}</p>
              </div>
            </li>
          </ul>
          <form>
            <fieldset>
              <textarea id="mensagem" class="form-control" rows="4" placeholder="Escreva sua mensagem..."></textarea>
              <button id="enviar-mensagem" type="button" class="btn btn-md btn-primary pull-right">Enviar mensagem</button>
            </fieldset>
          </form>
        </div>
      </section>
    </div>

    <div class="modal fade" id="modalPrestadores" ng-show="owner" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="form-check" ng-repeat="prestador in prestadores">
                  <input type="checkbox" class="form-check-input" ng-click="toggleSelection(prestador)">
                  <label class="form-check-label" for="exampleCheck1">{{prestador.nome}}</label>
                </div>
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" ng-click="convidar()" class="btn btn-primary" data-dismiss="modal">Convidar Prestador</button>
          </div>
        </div>
      </div>
    </div>
</main>


<!-- Notificação -->
<audio src="data:audio/mp3;base64,//uQxAAB07oI8QGIzgKiwZ+AYyc4GAAAADQokRFIDFucREfCEEHvvewQIECENIOF0Qy2C7922E03
tOzyexH5hDNIEFOAwvf/3iIy09Z0D188LohFEIjL27y9IEJ0gQJkydZ4diexHu754DTvYc/bv88L
Jk9Byd3f//j//3ttGHk9tPLtsPTu4BELMCHJk0I93rGECe+zEDye2YQQiMbDyaf/j74/9pk9vbJk
6IIR4QeyZPWWpi2bESOB2K2tcyV06jTJnSXCymQko1RwMYgQSIVBaaUqOA2Uxu1uLoRBEVhOTSzl
3rXeF3MmeJPIhWKEUTJ1oY899UYtEKqwiin3BCUNrramw8g90Bss86lYV5pSJjphwlLC1tCZhzuD
pSUjoRB+FnRjIqbi4hOCqCcFCUZ6DxNppHQVSOliHKbQNKvc25txhR70bb3bDx2MZ6lULhIYnt6o
myuzOCeqIgABbn3Jo1WHlalWbBK0CGilI2q06IGJulhzYqxzFnRIy2g6QjVEMuj1HS6Wm9O5sxWB
ChRhbk3JJSqR2bdS9mjbGMOX//uSxCKAVd4M/KMk3oLUwd+ijJAAvZOLa0mzOTTDXUohvEpHlELW
yZzJWXTHEKDFZmAhwMxR6SVl2NRA0E8/J6scVqt+pjQsS1QjiUSHUjdbQtEKGoufifOmJvtGZiHo
QTJ4gBIWgOJoIHHKmKTS6YGmeaw9ArVTaGkk4wpiEAAEAJ6NSUzHRgKRKf6R9wbtc5JO6IJwaqdL
arF7OKrwiuo+O9tRhElJ5V0Gx0lQLrKNKvniSksVrUCN2NTXZgqkmujpiVYR3NpXTq0C9VrDEGI2
pu+WqSnFLNQMLsr4IiNS+2hxrC0Kmvq6O2EMyqFbIoDHqDlF/aM3PDApc0nWzTONpeasYvSIEaOK
1tU9pRZZ7kKNq1YlTNxQyRMJ12WcaYkbgglbbe3GKrcXttsaozVSWZyRRmMtuYlRVxm/FMY+j4UA
AGC4E6bwyklJcT7VwZOwfhhOAgZ/CIbOJR46VXK1fGngeociQhxdamYST9rHCillbhkcOmXh4Bhh
Vzzyw7XxwuXzBILCoCMMAIw4Cl2536uGW8Ps8/37fdCW0NdJgf/7ksQ3ACKqLwgZ7gADOaUkSzug
AMJ5ZYdwz7YsY8v9yBwbBQMYJGFYJbPY/ytqtjh3H7X1e61miOiAhQutr8Do+PJvWGP57r97jh2t
zHeFixn22uhyJM1x2JyMRzBxJ3+8z3um1rmq9jWGVbd/+2tXLGN6buWaV/GkQJF7k5L7ksjc/hF/
7zGrvGpnzf4Wbf5571//////T/lvGrjYvY1Nfc32p+f/////+Ebtcjcvxjc/uH7debl9/cN20G9p
pADM8VjOmXTDZczrdIjMgyz+5dDOZAzTRnTKYyTDQXTGoXA4JjJQKwSXoWBYzTE4w9HkybC878QO
/GVCFB4iOKqFgaYMgJDl9tkXVRw8+RqkAiBpyuYMvCY/C7whJEybP5ou8YsqJDXF1TiIKq3mGL6N
r2xO1naSfVo7Z3TptrNr2tyVYFvWRNJd2GXdpYhzv3cfx//x3jqIDweW93SPzLYz7Qt85l+/mYtv
Xd4/+rtLvGl1+M3O///+X6yxvfWHRMFSwsHRF//5vz1tAAAADRqLIjJJAAAAAAMHIqgziDeTDTH/
+5LEC4AYiO8bue0AAxkm4/c9UAASN4sIEwFDHzFpN4MJgE4wAgOzCjBTMEIDQwAwSTBWBHMHQVcw
SgSjCGB1MUwEQmCIMSYD0KhjbARgSEDW6KSApAyKQLGAg4gnbo1y1EzL3TbgkuXzLEFCiM3RwyNH
KL4CiQhTLMh6rYcKW4a69Fvt+1vcAyDHn/Q2P7vVW9/7//1//vX/////8do/x/Pfe0Njnda/X3b2
tD+9NOLsdN6CEr9LOyqz///v1fVR+gAAAAFhwACMEgAAAAAAwfADTYwCKMJMpwwky9zCbChNn0MA
FC6GAEAmAAahUBsHBVGJkFgAARDB2AbMAEGwwFwCzA7BjMPsEUMDiThyQfcDSojAxYMDQpDTFJEV
JEO6F+ws2I5BEBTzAgAwxVMJ5Flg3QAaABmsfRPF7KaUCwQC58tjNDMrZlLZuyIcuHPGwLLE7k0r
Ur/kQGUICKXDlyMJCgr//k4imoskTHeXFr//+zZ43c3MDQqB81/qd96HTn////92roUAAAksDXNL
bWTbbbUQAYFX5GDmLSOBoBxs//uSxAyAGXUjUbmdgBJhnaVPvVAAtIJ5n5J7nSE5A0eGRUlmRbIQ
IBgpKX6l6MPTtK41wPMvFkilRSRpqsaGkNyEqggkOV7DpqMXMU/XtMaNxAMGJgpiYYYAF0TKUiX5
eCGYxEspWCAwwI6DkVLqYcZ+i4aUOXZTaGAmW4/cZS8SqJiA4DhJoS/dV4IBwMiNnrLGhGAt7Mfh
mzPQ8wlVASFnZilbn40qT7Er2XO/rrCZbe+GZijlVqOwCziXzVDl3//W5b/0PNAEKSymAKAQy4wF
QJjCkHyMPcO4yLGwjCODOMFECwBAHGBYA6YHAC4cBCUANJkGBQAKGAYBAAQNAYAwiQAN0kkAYKif
jEQVHaQEtith6JkwL0um59Tl0dIfqBgwDjSWapOXaSKLUn60TVjEY0V4gxbS7ajc82pKpbHRXR8E
VKqN0da//WkuiXTUzCBk6u4OesPX/T8pt9v0awDMECANzAvQAwwO4EyMUPLMjGHgfA2T0KWNLcAk
zCqQO8wXAB2MAmA/DAoQBcwIQG+MBDATDACABgwFsC+MCXAXzP/7ksQhABxZbQ4v7Q+LPippqbwm
vwnglMwf8GkM31gY6njO5hLUcq1BLpLi8RfIKAoOLE8oRRcgEACEPUlxYxARmBpBnZMAjZdzBmeZ
cqZ73lav5bimVNlgwtR1KksizVQKPVL3D0GorUPDUtC8kgAQ+LrqYv612nXiO06WTcbO681X3/0r
sj1LS3Y2vnveE5i4tZjR1vmmfPgj0DQWeJqO6qNgjHXd9+XAKMP9PlZtAB0/XqWnAAA4pJZGG4su
g1OcCAJiFmj2ygVATEAhHB2KKVv/Ipxajvy+5GJZZlcbLXpqNwL+I+GhBqIqxAWgDX5K43TyCkwr
07XLMNuW78vp6enjDsO5QwYoI3Uu+inCGVrHceAlAGWPGoOriMsDYnI3YZw/E2mIriMqZorsnWQY
DA4iu0T1N4HlDkP4/jWEx1B2X2nYdyilcP1Xbd+0+j+UUTh+zDcvfRHgACARF6PuxB+I+5b92oYf
yc1z89YWMNwz+e7UJ6oKCRMLgmCYkTIyfYIGVUAbSHkvDANALMCYekwAwZjNwTuMnkDYwYAEjAv/
+5LEDgMZDUMoT2ntyvgpYoH+UTiR9NCAVswrACQaAQYDoDhgMgHItGGDmgRnsBmZRm0TmcNhhVpJ
YFGRBLaHT5snxlChwwZyjKfahjvL2jitbzX4q5OEqh6/NRqXZyqNWqaUOXGm6KmMaeCESgT9P/Go
VbhlU0fK5mkYo2Xr3UJ9qE+jSq05SQgGpzNMN7Frr21t69i4t623WDXD6NncOC6XQXx5J5XRG5mj
Ve1rX2t//a3////9c4hPk8qkwVi7ZgBoAAXrL7mCvCTphGYN8ZmKeQGKoA7xgYoCUYGOjnmF1B1J
v1KGggeSEILBswSBCQYipgM3qg04PEK0KncJAWBiClSKhQxmgTKUTLAcEIFLoItJqsCUrXoIAxC6
7xIxTM9+RmeMk0aiVF0BhmIoUdBPjgIEQUsDrCJQOOL90mUosjyp/Wma60HRLwxwLDjZ/0G1a2W1
da8tJqW2koh3vWvXoqspVbr636lWUbpG3BW7GIdq2kV1264RR0fkvSpAAsAFhYAiBwCeYOoIdGHv
hbphfyyuYp4EumBEgdhggC1O//uSxBED2GUDEC/yacMUoCHB/bV4Z0KG6nS14ZADxqUZGLgGChEY
xBxMEjaqWOdDFihdVpogBocMUbgaATGhTO8rASFyhtLQ5Uq7G2GAnIJDH0NofpseFxT1JrLI5ICM
AsIqnCuXTMoEkCaCCFdBNTKcoksuvakaoJaZdWNUVsvdOybKtfWq1F7qIt62ym1jlaEsC+5q4UIn
lihMoPUKC0PHb+wBocQzLGCE8PMYgk3HbVy6IHWYBCARGAXAFpgIoGkYEQPzGE9ggRkSAJ0Y6KAE
mByANpg+Snaa2KCCmC5gTBgPQGGUB5iwKlcJYhVKwYHmtII8KwPDQoFiw457OiBWPsEAwhf2URqU
1lrvyFwaRX26q4emD6DVrnO732UWwSFDkWXyo4mkfF8IxCQXpMVnlra9RstSFbLWNIQrJaCk9Sls
pFdBfrWiSLKd+5jKINOcdQdjTowNCzkDwi0VZcJHkGiNYiHuukhPW0SG700nUVG2GKWFdgKRo6oA
QJMaUbPhCAKYAwFRhQjHGJgGQYWK7hgWBiGCCDuYcSZJvEhQC//7ksQTAg+wuR7vaUlChxciBe09
KqcMOMklcNIZ5GiDkS+rzrVW8i8sYeVBdNdvcaOFyxxgoGhdprd6FAfGueTI8Sxw91TYhLGGPs77
72QWVuj1r6NTE6vftHugcQm0OBeYIUKPs74qupaXvuEAwFgDzApAQMGYEUxuy4TPACXNjcts18gF
DE1D/MkJUk+ISRDI2zAyC80UTTNGSEZgwRkBTmPR2LpSpAO5DqAE46aB5dQTYhIOpKrPV5VnM4a3
C1nOaYrU0Ufh/t3rcAdrxVRvv/1vnWP9Y/+c7/vZzNO3ruykDtWRk1LFQY21CEw8olFwQGi3qWaQ
eFKnOQUfcLi+1TVbnBt0/NQK6XJw6qoa0RMAIA0KgUEgRYMSNMI4bMxtrBzCHFHMBMBsw6BQDd9G
IONDN+OTtZEraTXUORzQAsZUj8PpGr8u0SbQ1BkMBRm18pWRW3f3K5cuNN3rvGdbo1lQ5X7fDixq
oSxMen8sGfcN74t9wPJv2t7/etORvYxpVLprSpIotaEtMm3kKGoDTnCpbYxAoTRzpS2u5jyjsin/
+5LESYMTeLkST2npQnWXIcXtJSiMBFTcjazj9bCgAwDxQBoYKoE5jaHcmYyA0a6iEBrQgiGFgDaY
LyWhoDizAMiYeuYAmr5F4048UJmPGBCmBY1WQ9Y7j8iLbv1EJj5oNWRYkMoCE1mMMR33np7HheSy
0CImqNz9XClbrI1Ush7vGYsg8kolRUybAKRYRx56FxZK56cBMsKm/OqdUoop1ix6oExiEMCJs8uF
XqQXTP1mnSp0w0QLttTH1QAACq4AgFGAEA6YDYLxiGEZGS2LgY/tMRh/CtGBeECYByRxljCnHKfj
K4SaISmUmTOEIUI8lv3Lgh/kp2mW5OtAVFN3hinRlgDMDtZVCVy73Ss98T6Yvq9Q3XlUlUfmPqur
2PO1V3f8w6ltAwqUAYXTcKx4TceEguQKOeu4YAwO4LuFFHySUOD9SCxwaPtAkq2aRTGULc9hK9i2
0XUy7ppyCAugkAMwEgVDBbS+HgLTStSHNJgGEwiQHjCBN6NoYLo/0Uy7oeCITk9AdpMEIMQRKyKx
GWPWgy1GndyLg47LZbLHPoDW//uSxHMCFCi7EQ9paUJskKHF7SUrEWTOCEr5XSzMfCmVRxpKWylC
izMlhSg/zZU3znTQw/LnvB3X/7Ou72bZ75rKXayW3bcRmep3zNapURTdn//9z3RvyOwafz9GzGfq
67f2/g8r6a33cnTqLulzhIDAxLzTjIuExMqawsxpxdTB8CoMRUPk3MA+T/CA7sZ0W76pjXg1XkXY
HBCIO7sDIcWs2KVo4czhdWluWtv7fh23UrPdLqLLdc23PIHJwICTDWbV9xKVCX1vEJHbaPj8+x5u
qhK75Ix0NUH346EJo1Jj1Xfya85/8mJ9Y7ls77X6r8Zlc7j+X/WrPzKjJrTm7+x3i+XQX9AU+gJG
MvUCAGTDvJ3Mh4Fo0Kk8jRrBWMLAEAwuT9TPmFtMAkD4wEgWRwAFdSw5VsWEglAc1VkYwT9g6URh
pAIBZeiX37G3arxapeuxqX1d/vtNlqz/JdB9J3K9Y1z5TGanWTWlIxPcs1pEhNtwpnn335UJ5f6T
fNemSZkfTIjP/v63KJJwyMvQtW39Ch4f7SM+8kbX9oRk2U8lK//7ksSbA1OouQwPaQnKrDkhiewN
ucautpLy4j2vlE9LeetPlak55CoQJaoMIAMx1E0wvAtjJVkuMZIRIwOwFTAiR3MdERk+aQ1gACAB
IKtYywcSAgLSrUUAH7nkPYpGcIuAgszHZ2IQBEk044aEA0+JqXhFjgMwl2NZaEpyAkEM0BzaBpdi
fGVf2cI31K7GOYkd9tuAjlbiu63zDYrSmrUvJ4X99XSeJ7LpXwqhOvpAWND38+kdhx+Inq/bQLOx
iAfcRRbkKgJA0D0w8ivzHDDlNAlV80FAgxoScwpj3TWRCPPOCByA0pJ3WDBjMCljEFQUWTjwkKSr
8QxZdkSbX3rpJrKzBVzX3MpDDE9jYpubz6ACkDByYOHA2ORK65+eCclGnfg8Uj5kpE0LhTPLUybl
4fwsyz//h9lvsfTSESZN1Znz/K6LT4dNztUEefTW5dzuiQ6V3KcgIvLLZv3edMvt55/kHJ+aCgJA
Brw8AKYD4ARh3D9GQuF6ZOTwpjJhomBUAAYSAfZqegpG+EDgy0SvVUUEjdhuJYiYTOH9X3I56xL/
+5LEvQNTZIEML2kJSpG/4UHtDTlAcREHChMbhKorcwJxHHlu/uvasUeZQNw8HqcwjCgp3Uwi3QxJ
lIqHlNUi/l7pZ4i/mL/q+/qkvHLv4KvTNo6fpEz/1zdLtBnnN3D4pJo9TQnro3/g3fyLEfxnPf88
HTO9deUrmbSfZILEYBYDRgLAZmAiEwYByxBiajEGlo9AadIehhCAvmFsckbFYtRQ3MJXMwLIgwWA
BkUElzaghoaZke+r/JTv3D7tOWSg5x2rkruXmxUc/I9wDCEHDrRh7mlE0OEoiQH4EQnMFhABoSJR
BhRhtDYiKSoRIQ8mzBzFnNr1LEFqpA25chh9l0ZdQx8WKMwxHvS1iFT3UeWxixjZHxMuZEPBkDF7
lBQuFg0csLBQ6lxwxjbGoPjpRQhzRkGtcDaZoHL8JVFo/jxq8XCrs4w2FQy3Go9wHUKl5pK8lVVg
hgLgNmB4CsYvZjhlnC6GejM8ZSgmhg7hMmDIncYaYxhrI4hlGUFlukvyJ+wMNOGRDlQMpky5D974
pVgQtFDsJfmkjdRu/Jm59C/j//uSxOODVGj5DE9lCUtcwaCF7SEw737tYVkePbJEsg1sWsJQiljz
KGyxzyS8oWjMPJUbNXKEjSRSKPoqak9rg0u6NlqaBh5rUWlQqv6zUlDLGjRo1KP1qo5JteeEisZo
f3I5dXOrTWVRoo5H4HrY22iGobFS1U2lFpcMUjwg45+4IiSeCYSSujiuvlNW5qYtHH8hDAGAHMBM
BIwMASTEpJTMoIOMzGVxTNWChMGMCAwLTpDOqC2PQvMqIgqHkqyEEmQagORFkaWos1UPZPRPzmVj
nYmaxaQAygbY1gCVZTNMU9jg8Hi1pMiJnKeojG80jmvb00LNDoXhn4myyJ4s1rIG/dK5hbyP27ax
grdpctvV2lUcu6QSydko6G2+sREvM293Md/SEmuwxpvxaNpm+SIGjaGtNjFNfUmpt6SDhsKbPSu8
xbxxoWYnZukh7Zx4LRAGABxEBEYAIPJgyIrmACKeZZz9Jk9iEmDYEUYaI6hqXAWjcwW5AIDAhbkw
wkUCB1dfjLXLdlI9v5h/lpgofEnbsEyMA0QhQT6icCjyEd6GtP/7ksTsg1k2CQQPaQnK+Lvgxe0h
KabiANEYsOxUVPMFw9AwaPUQ9rug6RkuTzRtKQOGSroMOdfbpIG6GlpayaYh590pV2xdIOkiZy4T
lhlJJcrU1xujMNyVsWaF4eXHlq0yw9l0G3QwbKUk1WZXyr6JqOkcPR1NqIFN6uJkXIWzE4R7lPQq
zqjeYFpNKvqBwAwYA6YGYAJibEemRyD4Zni8RmohVGDcBIYVIjZnrB2lRYAZu0whnZF24p3iJcNE
fp/EqVa5E80CIcHDljNKcWAYp6tYRh+TI0ss20hnNJpGCVx7EFhyHNpXoOaOL2gf2xI2pOOOMkTd
UaRjZOlIZx6H8jDSxi3Au800Eu7luelEqlQMGoPsipuKDvOtRYwmimddhcrOjTF7aD6UuahuHeUu
LruIPqheaipKaltlauZtZfraB9iyHtA0aklnnS7vJF0xeDm1C4AAgAJBIIhhVEWGM+H0ZV7XRkSB
jGBiAmYEZNZhTBdnOwbygMAZPD4QIIxQyBzm0aZaWHedr8/PBgNb4Rcl19292YC3kzAyFpJlw9P/
+5LE7wNZSf8EL2kJSxk/IIHsoSmY932Ss+nSOOJYLhQ37ZZTORN1QfYa63cjPbLnzp+Ei6Oouy8T
akCjdaJp4dnqFnvmXDHGaizxRpB4eHgxJZr9brvEOY8WXW6n7zqPvIMM8OR2S/WshTm8gg05c1tb
cee29Ont3rvhi7jtO3cO6Kj73HSAQjSsQ4oOYBAEBgymVGCsCmZPq05lYBDmCuAsYGRBZlchKmBK
AIXQSqRFSGBA1bAd1k4sN44fYe8+oFgImlGoEvUkiuuRVufn7axPOvd+5NW6mFu7qgmKD6CGJd9W
W007VNxYzXvuWeSjKWldxkUYjacmxsOaZ4UVUG3bvJV7pGi58PKc45p+XjYW5B+UYWk5+tXxmezo
ug102EsZdlIOkTjNK7a8VRsa9uukDJRnpY2tORLQijjYTx0eyK8T7q6d6Z/tN8pAzNo7bNSLk4tp
hSAceEl8TCrFwMUIH8yYFUzHtCbMCYBgwQAswE82dyCMKO5ZiBx6ydxF9hspcmKP6tbCXtKTA488
O2cpDE5jHlvGvE7+9g9xBLDN//uSxO0DWD3/BA9kyYs2wCCJ7Bm5JAxihTru5MT0xk5nNNPxOCy3
1B/VVVlJw3975jUryjM2zIm7SpX9xju71R1Ix9UfLScxzYf7oqMJy7lma6Plda5tZkGnpTy+ez4z
MZRqcG32TzDEyiPe56Ez6xfmpJILwOlC1xmV5duhHv2bbzeOyGUnpdm2XiXeagDABzB5IDMTgHYx
/FSDJ/CWMCwFswRhyDNNCUDlgCq6VypGl2GDicggrXI5LV4tajcWo1KYxS0sxnhELkuyvYSJuFN8
4cb1RuEpB1WcUiTGDzosfSJY20LpkGo0bdV5eTiGmwUz2jGc4gts8IL81hmH4iUnGkDWo+WEQbJh
Q4i6FnSqcW4uEXumOQ6c1e9MjLQ7IV0siZlOOnvvjHL06X1PIEs6j3QfYMC4dBGui7kXLLMgomyS
NE0EXhuvCou2D0nSZybFL2i10yolAALqqVCACEwDjETAuBcMntcQyFgnjBnBTMEgx4xDQ4gomALC
IkMCUHHhQYS1hcpWFO1pWrqXQPfSCeJrELld+VS/DCy+0bliUf/7ksTrg1gaCwQvYMnDLsFgQewZ
ObeSCGAuawncRMNlUDeIBCQa68SMHotHD8cqcl7QRj2rYksiQoILRwzPFDr5rVKeGTR90JxxDFqC
z4NRTWgcIEcmaGGdkzHEDcb0lhl+KpCcRqo4qoiF9MkH6VH5EpDFB4Y9O5Mz2ppo5Iblj4IGQ9NV
9Rg4whm9iuljJ2a5Rmb1IN20hnGDKV7CLFNVtLxQwZtvOlJHJVOVNW5HeJBUBzGQ1TM8azUfSzYI
WQwHjAl7DZIWjgLMUBOVp8aSiiyFr5hA7eQPE3+sY3F+UFNc/VSpvf2fhykqXeuuT2GkS3MpGTZD
4G0GLCqjEdcxtJY+lRi4p9aWiveb335HitzOz5WXsZF/N8N2lu2+JhWlukXfzGKxqdqbUU99Fu2P
UpI7jUb12ee/yWaGbKVaIG2bsz3zHjYNwt5XFV9d4Zty0Cjsd89Qxb55wr6zPJ7E0WoiAFAQNhgp
geGNAiwZ14iJryVVmh+JiYXQRRiuncHHcB4YSwC5EHOLNwUPJhpnhCdwAVtGMtOMEQakYISoEiL/
+5LE64Ncbg0AT2Upws+/4MXcmTmvtEcFG5Kqmu8aQVZNDtQspIiFE3GaLmIve7gfjajkexqKZ+ZS
6UquJwTjl5Q4lZdjxolDcVKcQ9PDffpFPP6uMY3WNahPFsvigZlA1xEsprMSgZbHML1RLDtmSypR
SYUTKd7WjEI2uGdwhvDpXUdSpxUqiMyxUIq6ICp0+gmZLn40trm/eHkZMUfCfTT9vPNVnCf7E3sh
oIQh5ypZrdJJPooykMaEmp3EelkRrGc5BDAOZQtinbX5+OR/J8606inyZOfWka+guzliJ5sxZ0jy
xH+wMiHoYf8FTJBwQTIqauSiRaeSjAxv2A41a6lenPHgLZcEPX3SLbD4Z12qZTQhaiB4AQAgYAWD
QUDAtM8MGUQox8GcjJbCgCA3TCRDFNJwN8GYPnQH1CYg2DDwYJSBQR86arLZWq+Uw08CCaBlbYPq
wiVtmjMPUj+zTnqlllSAD1M+qebEdaiBWvsNGsZ05KUdyKZfAbJ0p+WXjK33bffKtqFr4XUe1Yut
R1XXWrmDrSmppHVbEpqufStL//uSxOYCaBYO8g9p6wQFQV9V7DE51bjUG1U1TLj9et5YJtkka9Xd
KotGSV5+d1cXrpQ0a2hkfHdU8B0eQJi7FjbZFbeYOk10Z0wuktrGYD9bVw7a1a+tZ1ecEteddr6t
cbF5+6xYQj9tJnGTJZgJqRkuob5AqVEx8dMvUYZVMUoyZasNtXPuPtMxSwwBALgBmBABEYjI8xkW
BZGemo4ZUASxgqgXmBOXGZWgcYkC+FAHjAfAGEgER0AM0UkQDQDEZITIxRDZn6ZzkzLliYLrOQqC
GHInX6b92IGpKzjMadS1E34emHIhNyOrO0t133LnbsCP9AbNX7xk0GtnFRBKaCxpAGqEXHYJDX5v
7JHaiPUS8fywamxdq2PhgJShSIhyJZD5QOhSWEHyzw5GZDJ5iNQNKRuqi0SGTcTFBRT6TU7BPWDA
anFbo8r1Q9qHjEtFsVFg/cVFYzKaYiHJKLC2IRUMrm5ddJ6NYb1XnoYl4cw8JwlUSkpN4PoY8hyU
hKHVDJg9joTEE4eeioHRauwo1haepnVJKPsM1ZDPdGZ6U0InE//7ksSLgmWKDvYPZY3EU0FfGeyx
KXbH3lwuE8eVxvzLZchL90qQ8PTFdYKyK9MAEBwwHANTChGnMaANEwxVWTIMChMBcCIwJCsTFxCn
OFJQELwGUKq8aRSKEiRoJ/HGYK5MXgOmXmJZQ4th2QLDMPQGA0LSQeglAzGgD55ZHhQDQskMfApL
wyeaCckEHAJlApHpy60weqVUn7ypwlskwnr1Z4thXHa6EtQJjEkPIa4tHVjhK4dI7VIpOUEk5RvH
iyqCssRcZgshlRN5NKS5OTtPGVdVuOMnry2IQiRWKkR462WVp7ETTg4LfMmYsXNMrSRAsUDyOSgu
RGRkvXUw7FyDA8PRWPEyG/zxLHRCfMTRMVi6hZGdpjgmFo6/SuV1yqT0klp1Qkqd80vVrlzxijYV
JUnsYdp3C5jxGLFFLhDQGlpeBcGzBpqwSKppg75pCG40CJh0gJweCZQ8RBQ6uQp9y48iOzwHBVjh
6ljeUEwHAsJf51iI2wPGCigYcBwBwLRkBRuZMKZm0Q2dHOKGHyGjowQB1VPC25PU3Ey9Kl46Qq//
+5LEMYNcTgz+LuEpQ6nBn4HcpSjZx5EKDPXt5OhZmtpozYxrF45NJslUwmTXY80KOxI+aMqvDE2q
FLKrKNHp1ETtsqEJE6k1DUYvIm9VRduCyMbXxXotioubihNqMWgtFBgrVr4uqqiRLOSWRTZOE5VV
oxqMqTwpaL4Kl9iVWLTgwybgd+ou+FCSTM5SI12LXYm3awaPpEAxjEj5nWGBm1fxmKKgMCcxMMo3
xHIFngJFGwWaSVS6W2HBMkApzsP80+WfORdR+gh6BBQYQqgmRGlUHTCZTh7RAmlm22jJMcUEgsiL
oUFwLR59afNohtTZmDslLolWbZEh2KI4gJxonGYTbbNyaO500lXoSyJCjK+TY0Q5RuIfJpCB6BAy
RIDGFS0bk2VNqkiVh+DZRjo0TKyHRgPvWeC5snzkziZcaQInrTsuhZ5E2K0EijE5rIlEiBtKLRnF
0ChMKkJUbQJLzLMHrg2RYYYteSNgjbW70ZK5GibJ4OcvBBIQIF3MQQCLIAEONjTeMQFwzaGjUcuN
TA4wKETDjoMBEwsiWqZq0N8n//uSxBGCV+4NBM4w0ULoQSBFxhoJsZ/E25Jaurb07UElKBo5gapE
w9Zb2dYTooKj6hturHz+i8kTHCrXMuFkzKSNntOBWqMqjotZZU65yDYjaOobTIFwcVGNn2LPk6rx
DHNHPT1nzWvUfRrcpnvXmvGM/mcRXz2a2wrcm4Cbi3Wjqr7IpUh6IJ7EbBTRzDJ8+3jL88ei8k08
PKdO0oX1GoOrSMIPjucNf6nU0+Bt1zpW6JXBKLxBDgKAzOenNVAEgAxg1nHJAQYCA6OzG3G6+th2
GZQmM1PbdfYGCBGrhyMktW4/QCZi0CysLREn54hoOw+jEAKksLdbeoHtQ/kGq4gvi0wdehQ74RfU
DkCbRrOTbMasImJpukiekvtG4jRk+a2KtsvXPZIhkmWbMM7RN2QmWNNSKsrDqItkzBYTMOXq43eW
xJopPWemKNhSdIXZdLcammMQBUUTTDGgrDXMiq3nLM1dMKhCFZaxChkACPt2UoMNo4OTJpaEmcQi
GAQAi4XGkOQO4Tl0r9O04cqZvFJMKD7rDxCu3/j6SJU2nCmU7f/7ksQbA1ZKAwROJHFK20AgQceZ
KWiDDCSIVkbAnnveMtsNKrpEI2OzG5wVCIwOE4gwQ0NRJD42oo6lFXDKCuLbbAODv0UigboRqzgi
Ax3ZARJBiFHHoE/gDGcYq7PRqKyFq7FAimd6RVgyxzpInpCI4FjlBYqiGBICWPp1BhBA1CIIdDEh
cynKBoIU3mKfACUV08bETFJlMyAQxxeDKYMLKGCSacUBaUaxPTzP0tCQiioRCVdqae3SROnc6pMa
SkzzgJKiKFTzcrVLrSNuyVmb2Mt0rULOCikCgzoar/oEMlxMhzr3TKfwypyV/zSdc3OccZGEO57Q
icbP+JImK6+02j+ei02WltGYjokDJlTBSCdGF7JUFzt1itN3TCtKNom7k1E2+nI0dqLrOMT2kYzZ
ZJSOoNVAWruTkItHAyrY+l0Tu9rSeA4YAAlDqs9KlaRBps+MEgCMQjcTaB987jEoS4QlHAnIRROL
E0pyHTy6b68Pt6RSYqSbS2HDiZIEkRxqupmoOOIKqMLpqNR/hUo5j66frloddIlw1/S0GZ4HCtT/
+5LELQNVtgUETaTNir1BoIHHmRhfJdi4s3n7MMxM8qr1VG+fb4kcdlw+8abayp/y8hP/YycOicbw
UWinfcm9mKX18tj+5zPmo45ZV0xRdXr47M5SkN/3FOtz0KZiWGs1vknm+OJtCASptHLMKEsxiEzL
8jMuAlI4CI8yaCR5Ml52JynQhdmKo328QmaFhRMaBjWPwjI/Vj3OcpKVs9hqt1o3sTDFFJ2btpJN
U7mrZZ7btxlKtSijG/L5mmyQTM6STGydttpTUZdIxiV3Kj71rOfHIJQogedhVbOTiW5lyBbe4jKU
o73YW6Kikh3jE1SUX+93Ge19vtbXrltbGHY+OdGlNNF5EFFb8YoqETrafqN4xtHXmomRAQzAAUkg
d4wxACGc2LjNjAUcCAbJu9ymHhHdIBARSTY7fYu9VAuSIiTN+evC5rLB0SLGbhRZwRNJn6sxnJ6A
JgclysiXS81GFXGfG1nRiWp63dnDPKmnx+We2I2t59zlYZ1FX4tPsrnN/9W2/1e+m+Rf7xTXrdNB
2jW14fcaGL3PddrO7qJa17jr//uQxEUCVPn1Bs2wy4qxQaCFzRi4/8OZyiult0Y0GHBqfyhkp/da
sa5avmW4FcBiGCgZFVsKixKbCUOGZp4ekkwUwB43IJ92uy2XuFFXqZdBLPM90eMtkdp3aSaviPvM
rCCCJNWp3h+QncYWlL0RQ9px17ZCXbE2W2vrajZV7uoIbklfdL2d3oOXXLbdJLg1L625G728du6n
hzY7veBsK+db9LfGItKc7/VlIPzZ2N/7Wu0jLbJ1OmKbUXPncLWWG2HsxPcY6rKfXQ+KvITVOqqU
8xFo5z257p3EHkHYvZM+bLDBocMeAY0XDjPQKRHJTYChwC41FViEEjoDYNQlQ7L2/sclqxWv5ozc
k+oocejWviSXmDKbVsbkMo3eVWN0VtjYan35J1orrEzazpZ2eLVc4lnqt1+Yk52NC8Yz4CF6Rn9z
+8vprQ1Q7fUcopFzyvLOXc1dmtW+DXnJv4xT15mYbFtFmbKWOXWPMlvMFTl6hDa21tolMlz6INvl
W9FyHWuLhT4cxJCKNgZiYFFpjAMmX6mdYqmMKwjxCmQu1akk//uSxGEDVQ4FBA4wyUqbPeCFzRip
07rS34o2mSrIoH1NE60AzjMCkjMthRFJNmDE070/nHeCjU5I+DDkn6ytj03NplIVs3uQe12hmHeK
C0yFl8+9l0Nub3rm17Xgovr7V418mY1/iOGPmtcgVsgVW3iDbcTGTKQ1cu6Py9qafPjLRy451QfP
uGq2X6zbxqdCcQ2Hxc+md6Nx0VRsytvlmLitKuAkshfERK4NCTkLk20HLIAUGHyGBFzhAYGAvODk
0lMxRuBMqtkR4dApBDY3LTNY4TzSLIZ7SaAJd5UyY2kD8pk2mC5TecMMZWoQqDS0Jcd3w2GY2zdg
peku6UV7uSqkjcGm930rYKTNdJLoNjGqvKXOX9g3dOqkJr6XVS5fiNaW3f9ardVF0xA7wzXsVtcP
pHvXmXysgvMzZxC1ajLFW8tvSXss93h5cUkvcl/zAgtMQgYw1IjHoMfgGgkOdNGzF9gliwyVSTff
ouPV7q+0Bq1F11+uXg9yPZS3SrvLEvO+LaGZ3R+hHSJpUgiYe0mUg6m3E3cqY2kqNps7Wbtqnv/7
ksR/g1UKBQQtsMqKukGghcYZeMR8nvU7mtUnqRd0g/l8hISukLLjGiMyKEHJJRqE1myQZpk3ZbYk
xUpF49rKzStLVXnEZLpk91OkjLzftS6CH5NoSg+IO8/9e21y+SjaMMvT2M9WWmus07KHKKVAhACl
R4ewa8W8FYIG6gaLUFRrFJoDJDACbPDepyqc4JyZZzazXPRNkxPUqWqKPQY/sbcOyFG8732qyL/I
cyHLLt3PTOkqm1i3h7vVHmbrVjTGo7KKJiWycZ3yjXdcpz88tD5Ucxi7bVQlGNH2ZRMi/naHan+J
3ZamaAm3m5p29pGZl7uaWjEOzMclWZqKCT67uWa/1JnmsL/NtCrpF5a3LXISzeHpgRoyMpiO+a4O
qYZvmHExh/Lrq083Br5VGS5193lwWaDuBjMPacba8dmUnytFF1EFxRas+sWoxtPLLpK62j2qso3v
bgju5baVeyytKu5ZCN32c7c6gO5k+PSFHTIapnJR7Pj1yUzi+qddqMee26s5Gaqz2d0kZWV/DXmP
qKtf2+H6XcM+7j1mUbi6zM7/+5LEmoPUvgkEDTDJCovAIIG9GKn9K7mNcjexdzxJAupwvGto+i9e
LlevfaBIgWMnU6gdesIQcQG/NhSYGJUXCcOq8rGvgu0xA5FvncrCBebBJMIQjJPxC69Zj2xYy7JY
BEzl5V0tiRzvmE0LrUpSPKPZFVKQKQpM6BlyyFzpmmTmWnZxZPCGpkjSZ6HXRMtvaZcL6ZWX9fCZ
CWwy8Dek81q202KoxgoHRS8OXSBqK2ZCB5RhRtO8Hs1nvSG7bY+N9jZVNXGIJPJxj81Vw2TsTUOn
vKXORobAYNEJKBggxjIM+GeERPQ2FJJe6kijZAigNPHmQmEHow+SlTnFamBFwbVS2zZ/NRBtqC13
kTete/H/IZWJjvSz4qpa5OjKmvbNpq516mc/vt8V8ecPn7RWu50S6aJkWlHeipm9lPPTHLikoXJl
tlXO3M7RbepZRdm2abKZRh3uIRh5aO1+dlspUoaWZl+6ZFD+Wqi58Jk8MLrNeyjl97y0HU0kAAhc
CRMYVtmOPaCQDTxgmDvTuwEcHkIbDQF0D6eIyFFO1PEm3wZt//uSxLyDVZ4FAg0wyMqQQaCFvRiY
mRpAQiz6Z5GjjUzzUCSGdLIQQPnvEpLi5adW1EQwl6erRRR0sqF2hGe8//PycMttrwtvLuHvno7l
YY0pcCucLd9aOe9b8rSi/0YeXpGSspR7HtWUgYn4ouYbKPRrHuyb+flO+4nmXHisD6f6y8vqSmi8
MfoXaXSHNrd/mOn4LoZBEalgwAmGgpheyA5XKEDImUwX32g+G3ejkCydQa/FLJCdAjMLlEI+nEji
yLIoa8vDybccbMnKXpNC01NhgiaXIYrksbWUVtpa+YXlCrhTG63FZKTcDGQQIbnrlk3SQQXEME5N
qJ0ubg3dqWVLQkZnO0TDTDoGN84kNP2RVXU2Gp60gamsaZvGGE6TNyUSWX6bDmtyMnIWZpe0Dayq
jTkBVZnuUXVyOKQggSV9V2GopLu+pHZUsN7rUbdi8t6bDRJOXtE6CmzMRfWHAEfmgS5qIWmYIxVQ
BKmshBSn8oFh+xkNU7CSszaMWdQoE0aEQNTWjJExFlQrT1YtIRK0hJW1yZS4MzoZg7pqMIC1xf/7
ksTag1UGBwRNJMuLEkFgAbykqWk9CIEZHZOuo0LPUiyOSeELVIWE6RxcRNCJRGaciOpvXszJjG8F
Tm4Y0RnyXWE0lFNjq7aW0yknG2vFuNxVkQCOF2YTLNNqH1OusSoqLoV0aafqLLOWqlsMRYRLEzaB
1yyVNrIiBXEpxHoqymw8jQpmi0EMFZuPsuen6Mpl4VKKk7omvEsbKpFQYGBRiIMaFnAZaW6Km4BB
TodVpQJAZon3ScVG1rhmcYKmHHpkZcnGNEtEpg9qqZltJATohzMMME+o0EqhzyBZAb7eE9KHqXPt
7M/E05GXeKYuZuKNxw6qTm20D0R4lkykTpwJyVDEysigzvqUYpY+cd3YmzFqt9vTSV5o6ctfUZVi
axWzJtNMqieopJqA6oYjcDrS5tiCT2IFIYjnUtWUuSJTIoSe5ronWhRlEuidE6IpEkg9HD6PDeap
pleD6QypsUyIMbSYnR1iIB/IbfQkNF4Dh7gVsa+QHQ6mZkgVG/Hx1GrfEs+AoBMMD2OTglpzr9By
kmIpIwUEmWSxgHn+nEv5nqX/+5LE6oPZqgz+Db0owzJAH8G2JSFQpDXZ6dIbaVoQcKu7kn6SzUia
j8O9WTQTI2Re9ebQn0YopKWjqmijCEKIv2XhGb6GXN6o8p6746Ov6rdRLUhFnrNbLMtAweyZUX3M
+JQ+ZCkjhO5hAw48+U323y8IwQ7Ahyn01DPZXOdqKaHw8yRbOGIBZ4ox0AhQwUCTFcRAU1aQy5D6
a7pZFpuH6K3B3r8fmkFgacik3RBpkTozARIqQiqvh5YvaE6aUcs40uPNCokKPEpRcgQ1BhAK0J9V
qV6WKx72GzCcShaEiCRaS5DScNmm9ppxWFqrqLCAg6IalLRJSVlFAsbWVQsNw4mtKMWopoqeeya5
lZJZAseMI052wk9NA4gmrTabyb0Y0niTIZHDqJmScJEqajOKJui0juLZgg1kgyCHW1Sfq4w3mxn0
cegQMstoWnWjaTkq5JJAZbjrZXU1YUAHckERFRbSTyNxcOqwGCx//QODDcPSqBrEO0qsXMGlXELI
257ZGwTIEYiBhsMiwhDbbjqrGElVTYZSGXcBW9JmkEFHieCy//uSxOQDVb39Ai0wyMtGQV/FzSSo
4VGSFZMlsmNVZxLEXg6y7STZM7TVkcbSeGxgkW0wTnAMzEyZG1vBZBjMIwRx1klEqcNq8P6ep4Xs
mn8WOeYCV9rnCSaRZNZW1BX2GTVtmnNRPQSDrKn2czJAzlpNmnvVmnByTicC2fltBBiaC4C1DXHI
n/5KyGHRXgiucCBKnLGiSpJGZ4gBryFdQNBP6xgWvSnGWS6YqWs5K03swoKWJOQh9fqcs31loqDU
WR2RtCQyCAglhCYIsRABqJw5u6oUvFQST1tacsIjCG1TgvL/P36+5U2Yid7rwRLF7rq2zGNt1eEi
osChAvXbFYTC7rfmfJhz4ebYgoNvNv1u/5hsVy9Lub5j4i4081sFWhItR8fpm6kamaXxDL0JkuSk
0F20XTTjfPubWvrPXfV/o04s47RbwshgrkpwFoLP5AieROyDzjJzAOBv3IHQn6G/FOKFvmvibk0Z
uU3T65wIYloQ7HLDhaCkwFJ4cJTEtnglGyPzusjnG0EhVfKljw1HqMTyyRtAianE+7GiRxQlDP/7
ksTqgBhyCwBNJNGK67phKaYaOSEb0TFwTBGECRorFM8uiIMGUathkPaQWC4kRMHmTjFlA+bXUXIC
FtGVFZCbdKaxc8hYWKJD5Qs5E4rRKUVuIjbRAI0wh1akfNitBREREBxtVyNYLLkAP4K0F6GJDkOT
OGA/CDChRMiRNLiFoVt6yUQkiaEyXaERE2jXiQt4Im1bhEbwRFiVswKDce2HmZ/F1OcRCorJpeVB
kDgCyjjSCEMJekBcdK1/lNJ4rOD6V8C4sYcLoxpZOCH0qReTCKNE4HgbyNQbYdV3pRA4jSD24ybm
Fnray3SXmZY8toe/BCJnzlOrwiiU7p9JbGjiDvBrHY0KxJI+CRqLZEd/DJUhkp2mrYzdLaNSLt7w
uNrHQekmO57FtKEw5WnFuZ4O6tUXxjRqbbiWXVlOSqdpOYvUnPpFz7ylkbYF7z9ToMCaQC02rYhU
TaGw4LHWCxYXLvzF3BbA+Zk2SiIACEjPk5Cm2uvA+SwOoaPcQLjoMnhKhIUEotkTjAC4TrbEQ+TK
AqhmRWtgnVVeZeePwC6FkiL/+5LE8YNdIgr6LTExSqZAoEGmGSlxXJ8WzChE5WJeF0bJtWZjRII0
OjzBqFKKkRW2lm6ybbcYoV02JEyMfZkWyZWDj2OReSZPBVPFYIl6cT6kssGo1Al8Hy3EmUEE1d6T
CdGTRAaZe97CjC4oYqJIdijbNROiBl6NpVld8GVsQr7Ca5dfrRzVXFmHwVOxXfDJm2ZNCms2H4Ye
jQFUhdZvywiHyQNRaRSywJpYPKDud1YeXmXqHTCAopZcsoaKajGyM6IXpLNJZE2u3S7kJeKska6n
gvhCicfTZRIEDED6CmaqcjqCCj2UA+pKdLkUdXJbeqLvPMJG0DnHDS013tIJoELaN6+NrqsQYTJ1
iJIq0K1mTV1BA9uzq7mTkUCREXnPd7MTTmoMu5vsD9NtQ6jOJzaUg5WK6bnpITuwTeKehPpYd7KC
KHJvRUHxLk5HSDWFp6jV2LWLL7abclLkWZkqXOtBkooHTBMXDXazcLPhduf5upV8X1HpNXNRWGXf
bcpWRjPplcKCMbxGRhrnnVirErRLkgXQisnmLSvDrBwwjXKq//uSxO6DWgIK/ixpJospQV/BpiUp
TNMYQwCQwoVXPoiIyjPJJHFaOLGFEIrWLNGJ0aRg4Ko3Br3ESqMi+pBkjSVYJxOQQT27FBZMpAL4
58KFCJNNiS4YFau2KyEzZGtO1VHsI54p4iwuT7OaFdUw4mVTUlOKKoqwUjTSnLIiSK5CKUbCJhEH
15vROLvTLzmwJ3lyQqkrI2mwqpEmVbxPWYLWcxoiIic+c2EVZEW+4+c7QFZgcdaKmAuMqQkUxtiz
IeDSS6Ax6bE7m0YJaboXykGtkN4HhQ5RE04me76kjg2UX6WG2liRHMJzYGm/n4Ua1lpPoKzlwnC5
GHXbV6xlA7iEJalbKBZkZNaIqvpGbZy0cTQNTJ46GznlBRFRZpC9njsWUiUsaiYyjNnKWzWyJ9Qz
9sRTK7XtsifZ4yWvZYpbcrlLeFadSa03nDnTIYE0WQ79LGMSKpO6VCrp51Hl4GCpDVqoggFgnya0
5Np4XTg2Mzq5Y3NicKEcg1IOsIEjk4EK2B4oTFg8WJ23q402SOXehQmyEkIhYb15OmsyFpddY//7
ksTng1seDPwNPSlCssGgRZSZKAo8vJgn5IUGEdMU0PDnVx+fJymhLyTZct5h1KhGKRYZHihSbRNK
E7xslXInIoEivxHWzE8Zqn3NdouSPrz6Nu5EHVh1DaW5RpShq6IjhImdZNYOLxbc5huBYqKRSRmA
0tH+vLIFiA0kb5LiZDSLYVhejg/4Os2uyFspnT5whSprWJp0uOEBpsp0ggmhpE0cwFMqumD/FKMv
Jm7qOeh+r8DtZLhwJUIciITCq3ZhGpU4B55haeTdKs4+US2yt3DKNMsvAoVusqIHEB2CtEWAT9wc
JPTE9E+cZRzMhHLn5E9fPui2VO6XBDEStLRTNnEjaRhRllCaNAlL5DpaW00kYdvYVSUH9F9yJjId
6TpQt2KKMek5QnKui/m0RIm2VFHAUdyZGlTaTnoc7mC0potkZXWlOdeeqZJPU80237EZw2iKSWkT
+0S1uW6ZO/AfSWOGi7YY42lAQWCZkHT4TJUJCPoCohXJGrY2cVyuiAeBsVJHFWGifBMugIhPBRSh
KKjiY0kKI0QCHmmDgSTPVC7/+5LE6wNchgz6DaWRirvBoEWWGXhajQSNhjaTgXvlIWcgGMIxOWhy
SI8Hejoi6NSNxDDDkCdKClYWXn1JI5zDZpRZVD0YFtk8ojCiDQy7LYoC1gxbQQNgwcWbEpIIptBS
sSdoKBWh2hy09UCKSs4prx9GHOUU03iJSHlMEL0s14+TKU4SpqsvvgSjIME06sXWEUvMdtd7tA2A
H0xm0lL7zpJw4UasRkdQnJzEanlS5KlcOlC5tPGyfkw0EN02BctxD8UkcKELZuEFighJZtHNMqSe
RwUWvNxLZNvJE4KsSIFujE7OPtA3EmLsLI1mWTpYefBZRC0vSMnxExqFIumXSOTEcqR0rFHcF08I
111dPo3RGNKRQttPaWhWz8kl6SmK0HotSqNRGdNkyo6pTC0k1SrbBO8gdbydiCpK5kyTQTueuYwU
OiJmjloE0l9YRO1lG0QY0TptLdtCS03VIB1b7vkDHbOBVvQggkRZsxU7KQlhEvXlEQxPwkl0pp3U
KxBVvo1rRThP1pidnEl5COYC4HtXnD0/tOCS2PRNF1Domto8//uSxOgDVzYJACyky8tCQR+JliV5
hbdNldtP1CVUZJlkJpE4aRIOgR3UXLpEyy8CqkSUqoyhPO8LWa6pMheTm3o449g/virBNpuesrNd
C0ueixKSdF56dZLvQEaqjKeFyI6hNtrZI2xCFTQopmG1l0mUJ5RIhXhEkZMxbaMqvbX1Re3kPLl0
jlybIonuuwXlFiLlWmkNUfZehYHCyERTVpVWMbFM8zuEHGnSdN51eXJV99k1Fgdkpk1Gz8UOUd2S
4i5GqOsNEtExWMKWQQYSOWPKs8VQZ0gVIJkkjqTE8sJf8p6XlVTKUcyuExM5jRftTxJRS91ZXhPN
T2kRgz/TTZtSWGaa9cm1o2myeP0WPfxHWXnKPIf6geZTIbz0jbKUfhKJdVmG3qJIlN4dr8gQJJfP
fPPd3raGpGZLThyJN2p52jk66tNjg+VKbTpZAAax3u0OjWYJOHiRUkApBGaEbRZzYrsVh4jPzemT
slwkjLhcQCkRiEYFgERkgniBxYVNEqIAZoCCFAHx0EmkiRAA7ZoIHiJpshsRT6hScUFKqoEcYv/7
ksTpA1oiCvwsMSvKqsEgSYSZudsIlZECjjCGtSwjJVzRcy/prI1kaa2oDKW9OSFpJInFtFEyB2Iz
4iaHjzaAu0o0Ww6wu9hET80UGi9IT2UlSVq2wYbi9uZZJx5NFEbVYKD1is1F1imaHHIiiM0UcyRS
OMzoUCfnHJxGl+3AjbYNLJNktHSMZQtNaoGlJonroIMHCE9E5raoDz1iAL/iLK85QjokATIyZCX5
SR8eLoGMgiICpHw8NHaMLSLxWWUJ20pCm0smqzCRPJA0muQOYkdmUVja7WuOMEEtbg3yViTbppok
klMbRMoFkCTDZphehSUfpiPjrUHuRI20pKRnc07TvV7vIMIKS6sNKKnKZ/WZVcqu6fUZuE7X6NDm
FLjJe3KwRNoDuSatdNErctilhxSPYK1E/jOyUqPJpUtbeHVSZhJtN5KmQwXe+DLh0j69rSeVvVUG
oiAbSmrt0ZMuRs9GlsNQitR1pWkWLqKCWtLzTBi4ak3rc+2vW2WLn43fZYQGyYweA2ORoJUDdLzb
QEbZhNEozfk8cs43BeJKVKv/+5LE8YNbXgj8R+EgyvvBX8DMJBhEUmWYSIk4Luih1aunp9BaqKbz
LT27YfAle31VNLK0gdiu+bEmnPpRgkmSfeSnZCgurFZebarh2bUZzo2uvJhvzkyy0bfhBCUmUSs6
ImlhQW08eimmvZEvkUpla1dvHrHFFoNQVo8HmSQ7r1m5VyJJ5aC9H2IImSGvJebbcE9GQ0FOuCgi
YjEjUFPUNoMhoRkKbCMTCcU8imTpRjMgElWKT65BNGjPAwVRMsMkhg+CIhgIB4DbKSYnFM5QSQox
VR8huUGk5GSe1OQohpYUM0n9Wis+0UmjzasnLzi+KrdkaBnWCQmRSbVuGMI4sF9QkzLaHISZWlac
nnNLG120k0BlCxNa8U0vDttCddRRDIozGCBwnxZNvJJ2zGQqYWjFLSGWoxIzJpTfFeyVi1ZkCE2R
vVmxBRtclZYnmpJTewoi01O5uylGY83aiykSBDHRtsRc3lf5EMXhCKaBtG55ARhZoxMtMaFaNCIS
c+QEaKSGJgLvFHEcTmpRIuugbU7PkdWim1FCsREtoZnqTTgq//uSxOsDWOoM/iwxK9MuwV/I/KRR
omOxMOPWb7Mscg1am8m1CCu9HbSSk/JG4+bslZLsQcjJmKPQRnmbS5ZiqGFyNRRzRnNVQ+iGbBQw
+1ybItnkMJxFbmZo0K6FQUrIYjlKol3xgY3URDKCjArJJC5eBzLTnEmNsECVjsW2knsRjJeRXw1o
91iek0JxGsoRWscrug0rM2ucdpmp0kHunaarE5CSHI8ztgxStsk9qsUebJ4x7397NWn7yvZu28uW
s2cKr4mDyMSS2WhKhG5AiYHR8MEq4JsQxfXyp7NGSRG2/5aTSPxUhJBjB1idQpYmxN6jerPx1rxz
YI0kBIgnFdNBqBWUERNbSakUKBeaGSJD1rQFelUfGjslckpTGYu37gkibaUpSOWwgfFG5BT72doi
dJJqmTJTqooH2VfF+ViUWHoWElM8ZRzlqci+dNTGlYLxEo5FFdrox6ogBdy6PmZyRJYmgqxG0MGQ
90YqIVAdJEcFCArCpPQCgaE6NHEuZPMrG1His2w4nAo0UVnzDoMttkyax4lg0qrERPMZeoSM2f/7
ksToA1kGDvwH5SRDAEFfxYYle97UsHv1SWMbtiEp9VsnK6iGikSJnyMijimapBAowZiqiReYmWRI
iEqqhUmwQtmWVBChxx9uZGVRjSEnKOIC8Xa2kibcUIt7JKgTpebBEwwjNK9KziiGVkircmW2XUdR
RRNrXLM0zOFuvw1htiyAmNwRskqoV3uITSGWFFlFBVMZ1EeYb+HkiSUS4Gg9gsIbQ60mIXwyZbcX
NoRhk296FWyyNdqxQK4CVmdEKTomlqWVXXbiXcomZUuesymoq8hWaPTsktVulTTPS6jMKnCld2ai
7z6ihBjCrl4yerJOmEkU5sEGMqOGnMxfKc2LYXUbN2TsagXJXrqKLWxNaB1VYeLoppoIXNhRte6T
VbZLFFsqOycpBh6zlyTVYQV9Sads4rpwqTsbwzqAyzF0JKXi02YGlfdwT1yS7cn2jixaNAu15g80
J64iHgDdMCDLanxH4HlxqcwdTeXPiCRCl2kEUQiiTpGIJsuniQ1iBgU9ATLqk5qcbHCAUtSmOuRn
qm8lUMKqkZZwBKHW9XT1iaj/+5LE6gNZqgz8J+EmAu9An8DMJMFlVbuNkeonxHl3HGuiICCM3I1W
caVWbeyTJqW3eMMuMt3WDuoE5yLE1pRj0DaCyYP9EagiSwowcSDKcGEmTyROkrBPE2cudORTZSbm
omu0ugtY2RyVJ4iXlblpJiPnENTXFZvZ4RDWumvcGEAb3ilEhE7bDVMVKJs6vNaLH0iTX2fyleTu
Q6KPlz/SPlSC3YJsVKIlLa+aLlBVJsZFTmfJ4h9IpOKdyvUlCenOC2S+RD2cMLCWZNrA+WM+Zmqx
BA4UMriY9RATznsg+fSjmyF2V0RFi6FVUhmqIxUPujkyivMlsuCh03iyM4QubRoNmyjImSYZJ5GC
ESdkgZMsUGkLfTUiibUI2IOkZEaEeXdVYZLlnkTHLKMupHs0LK0WuzuGDxH3NMSNqKdEMTZkjZgi
KHon67CSNRCwohazuESXQnmRpGuyqhQIFEcyZ6ObK6StcA7meOh78SdnTokKbg6k2x+eMj8VIIlT
iLrUnJEsg2KC5ANNVs8qlrMqX6xHC0YjUKI2CImRqo/yj7Ai//uSxOwDWNYM/AZhJgNUQV9FhiW5
ooJKIpJHOpJbWjLddp4B0Yeem2HTHpTdEXNloo3iypnEDSgYzKN2UH1300N2JtW+KiwIGYkek/Uf
5QMgooqvh/1Dl39vSzT9eodOoNnp7rs+yYigjdPqSqI5El2c1Jo5QzXeGFPPeb51oXGmofSEyLwO
KBAXwahN3wg42zY+0jlyWJOOmEZkFSZNUe7CYeSQiUcSDE4SRtnZnyJhpojIiNNYxSI8KEDKEoWg
bSJ2hUWsfaF5cCaIwCr0iXaIrHFXU2rFlUV45AWNxA5VJLEBLNgxAlQNh+D4ZSBmBGqaKuXNmoya
HqEMzBmLmlipY7GB9IlExCQrrFGiAEMbRqsLvKkCENdBNkpAdOMtPRHSyIokTQXapsgIy5obggTg
dMSWn2jSJfUzc1GkS89LqED6JW2ENtCedrxRNieWKXBp2qqp4iiqKkAKeCI2xqyITVL6aNmmjNu5
JXbpVsOtrFbXNwOMq4G4Ud3CWeEZDIRL7To+hsDujskY8iHgSrSrRKWliJLpQE1UKoI6cmG1zf/7
ksTkg1V+CwAnpM3LTUGfQMekUNoYKLsl3rMaKRo1BC9UgFFm000BHNho41Wr3NMmTjAbtmbaFi22
nonKTRuc3+zhdRlLsJq9rkSSbSLqek1kREk2fRDK8lE5wlRzwhPtx1DWPhcZf4WUJPhSGzpyNZNh
jxoj9Xc0kasLWICsiRARv6rqSQJainldfUkDIgOyePYIwoijmQgKGpGEs3MDntl0IbJDIgTiDYy/
m7KsRGkLC6qkDxGIySJYVExKiYDA6GSYLSHHzZXk3SpOuVVSWWjskRdZEPRTTZKkjMUccYRbrlk5
oYrUROTZEiKS5hS4Vzq6xOjRSR0jkpSCayqPDCKZRJGKYs2WV8rOFooNRqInQRopq5ZUk0+pmqoI
lkRPFCwjXRKqwrUkPReEOwwgXRE00rKrMdFuxSqeyNHLnvSQ1R1hWDW4S69dxgPTco2lBS5SSXs+
9ZxMhjhu0nG8JyeTcTEXCHETALExjVU2iUikkyGKaZd2/I3Tz0Vm2hWkiSknckkJAIXYeRhkmKuM
afMPVDZDJEpTGoVzypXUTDr/+5LE6wNY8gj8TDEtyyFBn4SXpBgwcjXV0jfa2G+q9REiMhZMhTbJ
2WIh/2yQsljaNa6WSkhQITKNsyfMkiFpEhIFZqKKRROXaLGMLoVDDB2M0BL3I6Yo+zpA8efYXRid
g5S5g2mQIVECNcy7jTNLMUFVkCxgmJhXyUWamgTkkgPomVCFPRGZkURG0RquaqMmkTclleaNkpDK
mmZCyAU6/EhfFUj4AbJyoBAcgJLbWIp4QB72jika0jcOEbatMkM4G4IoRA+TaZCSCtIoMpA3oGgG
RMA0CZVzTNQXKQEkhMgMrALFlVaDJXwIIL05GKWkZsjjCboz5ZdthAiI62GL3DC0Yl+yuthPE+v1
TNn32V1Jtko5BnitqBgy5OKOoDQXJgJxdTmSRJm4djLghbXIkLaa00lJloZHR9LJH7FNvIkar8kb
tSBtUPWm30aaHIZmxSYWKt5kG1DBchURr9o9r10psypgirbIzmFV6G3HFVo1A9NCmjEK55hLrwQK
zQ8wlpupyHUpv6CCNxgcYSOI1jwcYRTyEPRiR/QtIqmh4my1//uSxOmDWa4M+gexKEMgwZ+Il6QY
oVFxMnJInOUeghZZavyKWrsJB5lFEs2SCRpNMYkPNJViJyDRHGzjSYe4Y7HNiUoBjdiUrrCWBtSM
TGCaFGMEHc0rbrU1JWVyZNoiNpMsSvjOs2KTCzgeyskwLI4ikN4X9HSkjiEuQopkTC3CeuEk+vEE
RmUBKLz5ZKA+xh1Zg2U2XTFKMhYwO4CmyJYlTQpQvOkKlKF17YssaDcU4hgG0IqLtj64pFx0sP2I
Dx9RkhxCXgSDyojWAyARkTmSUifBY/N5FJxlLJJZ5JnsKl2ZeTBgmRI/evZLkeSkK0LsRZkRAcVI
kJIXpk4KFZiNiDky0skgJprHC8miiEkVH8i+CxlpRm5oEDaTImuRm0JVQ6pMnRokcoNMJtUabVJy
dHK0aiwYJGU7byLJGhN2KBMxFNqCfXQI3L5GUus0FU0cUUNigTLpWtUgC+Z4uMApUb4KCQ9pekBI
2BjoVpQFaZ1kWI1cJkxAgxQnYiaOQsXQBAhRPFQvbZGVguhNSskNygiEp45o2xVGU1Jk4pjIQP/7
ksTlA1YuCv4HpMnLREFfSMekGbn0CC5FKXyji/XUROlqyhAeFU0lZjqI6gIkm71pbUzX1lRIlE5G
WpEGmzqk7FC2RhQXFZqSA2bd15tQU0dErMkZDxsUsEqCDprrB5O00RwTmcMqn5dCjvCMkWwlXSXP
Tfq7JfBSXQMCZUmXimglcCKy/6xEYJEbMStJTOyGWmi+l0AsfNLY4lRGssVN9Qnc5cZZTw6SIn1M
UoCM8c1I7JSOLxUZ804M8mbgJm69Gmn2DRUUQPvpwGhUSliblrY4yR9jMMLPPM3r+lAqRZpi00D+
iR23Q0HMrwATzdE3Pox0JY4/DkoBk0vpZhshnyAJy0iuarEcHLlFaJJyidEkUKJAu6b9+A8CjTlR
KJCzFGTlGmlWiPPOkEZ0AdAkU7aeYaqjrhJMBQSo3xVykVbLwjnvoqW1CPI3VuosbJIRktSjULgm
WLPO0OkA4ntBWrQY3p9erafWJCasWWXS+frLrXSktrqMv4UUfB6ZNmRdP2WUqRI4bLD0vVWRHLZQ
QfO2GD1ackxY2cQKSTPtJUL/+5DE6gNZ7gz6Jj0kQsBBn8D0mTg4JxwuWOUckRUb8bBqnxFb0N8z
T1P4SxA20hpNOrH8bxi+/i1YVT/0NvbpIx9bPDZj1T515IeXHqKi99YX7ksnm1BFlS8NMTSWJQne
suhURHyRMdmqZUcHqcjecIybYSoFbRv7zMJwaXJA60Uv2ONzm1zZqY2YQjs/dgdjbeUloSxPqhL6
lI/eQySdXPnAEDPXICYUFSM/RrpJGC0DjjzF0kJTOLwYDhRJE2bDbS+5eCKuzJ1I66bESNKKCpir
JvjnInBUYNImglGGuGJ2tVOoz1rm8vlItpRDMxlMgg36/p7tF1ZndjtKRSxHmEGsEsGMkzJrT3cQ
Ip7lS6N1zqS2Bdr3NQ5EDg4vENFqTULXbydBvk1RUMibJQKGJSzXUsyfOkiJfSOFb0NPSRY8ud7E
yVQgYDQRkls15jhEqjj6zhQ9NDfDRCIa2AxoUm0K2nFzo6UJTx9Y43pqTQ+GMKtQduIo6ePHnoEC
NUWRFSjAnYgKgfFTCRssS0cEJ8gQJ4TuE6WyBcSDCAmD40L/+5LE8APcUgr2B+GGCqjBX8CXmMGS
CaRoPQzTabCqrAQFCwSEowUGQIFloMJryJ4sOGVHtsxNkJORIGVA0XJUA05BmWYIhQONE6OZQGhS
DNITi7KESImSFtZhltNiXPguRnWoDqEhxGfJxEDwWE5GOroaZKEyOPQlTwqPEcyYSDCtWdEI8aKC
7QuSIDoViCZdAyQPBNRGPQOAhBmDJKyjYmXEqzpEorI8KG+fxJZCmjx8fC3rtXpGslZOvSFB1Y0g
ogFm2XEiDBkjYeu+DQoDOCNOtHT7hRBQ2mHnkZSwy7lOysUYRSZdadR03YswgypiSJXwonZuJIVs
+ilBk0tJ5lKZQ81JLzJ+IxToqsrBr2dl3ubnvNUXOtkm5HY7paTtcOwEzEKdkeTgT4stKRlnsi3V
moJ9iylBjCzjCeYiCD7JJvzGPaZxZQ06z2aTusogAKJSyPK1BJ7wqA0hE5HzOrwXGNXJpKLkDlEE
SZ5YqTsJLrREa+ogyKYAUZNrCx4utixKuyGSsiRSwzqymoQxskIhQYzJ2nBZQlmSFBokx7PJ//uS
xPADXG4O9gwxKcKoQN/I9Jl5mXObJeXZe+9bYJVSU5LYpE5NGaooQCUvDxIypdAWNwUCqKx6Z5Qi
O6mdbkwkRLxeK1dxQjVxV7UyAVk50mGkAUkQDaNAxBdZOU43UlnMCYwaFajF4UkGH60VFdQmwcaI
UciiIje5cmPrnTrRcuVRyo2b0vAmXOIkYujmwRvaWnMCAmVbGkVTOAIWQUpUUJJhlEhSWRokclkR
0pFCHii6LeOQgq87KXcVsiUKUM526owVVbOnpBeWgNJWSlNGQItDQaxZZo/VH4JSIAvXEZ8rIiZQ
YehkV0aCaTaJiDhQiXjrM08WaLLlbKoHUlFyzYklrrX2K05IsQvIFkdzk9SEY6cRNZq5EI0BFhqS
NpgQY89G4wIGToLvRmijLCAgPLJMsTi+3sxvW4CU66XQEx59nWGoLLToVai0y0uhNprjzaJHiupq
BAgAVBUJnlGnSBwWIbhrJsujxZ9EWigTnRW1qAV4YYWIiAPAQAjhUKR5lrUpq4dIlD5MIcreWSNx
QNk4gPoKsgH0CWNKlxeSbf/7ksTvgVpGCvgmLSYLDMFfVJMniBMUpKdxmfSITM6eq0YMoFsUiQ6h
adFhQ8VM0HVBATHqpoUkhxRhvFgfOMIrj5DsGnEC5xq1TImQymoyysVFWWQtdExAiKpIzBOpXBhT
MkgGSjJAzFiIePOxGUYSkJEmIjzmGWDYlIp7SAWgEeDLEkrggeOEQmbq5JfVE7AlFlTAYuaMh4PL
1rRUM9SJzw0csvjeJaFxWVOueeQIa59X56rUHkS88P/RFQ5s1AfvPM8/xVLtjNYXTtap59hWe+uJ
huXiUdJENlrXA7qqJBzj0HEgeGHHjwoKxEJWMMhNdE1KZlspTLFaRmjCJzaNJRlddVyBouyqRv7E
EZdNWf+IG0ZpDOm5E4qVNQhtRUHWSiIRKGcIoHl2jJUKtLtLI1MIHLmJsTllLvJEmaiyWOqsYUgS
MLoPFC5ARNFTbbCiYxkBeNWtJDJSSMmatjRClNTQ+h2A1qNklSYdZppZxSyC955+nJSfWqZpEomF
JO+razEHqdPakcMI3phE4BDmBbewlPaEhJRarD2fVSfDJUn/+5LE6wFZkgz4pKTZwzBBH0TDJ8ED
rumokUdMPrmakp1ctJOQrERTFuIhzD1pFwrBQtBeoBBjc6jzeBlnSZiKY2UVKeijnPnVyg6qQRJn
ye9ycimmjCzbSMuuiXGuQIll2D84FCjVl27vqt5VoVYQi8rcT86cH05skzByesvWfHr9R7BKuRAS
4gAsC5i8103FlnIiUAmMFTCKZUViryRA1QyQrgs/Vw0iH2jJv0ImydhQyeWIS+94qZQtpEQWNqmF
KNIAokkTk5ssIbJr0gGFKbNEqE1QZgseWbNSkmaBVN6aiZNptGJCHqKtFSA9FMlPmhYV2VcSIkd3
F4/iVzNENgbur1SRg7P4vdcUU4gj+vcWYP0EZ6qpVeoMTlD5G3ajifDgvmzxkfu88eoSNdyxfveS
zni/6R46uZEF7k5XiWF1hUgnhVWOLmIU5mvYVnxbVozZCEnVCc6SGFEr1QQMoAAk7nhcQNUSNo0c
yyJORay7KhZkKn5F7YHYDAoRLqIwMsHADBIpJUMjShyCpCKEj4bNGDShVRkNKrqoCUpCRdMh//uS
xOUD1X4I/AMZOctmQZ7AlLK4bnuZBCjJk+S3BOZ700WihUQWtq6MVqyIpYbCrrRi7/MlUaFak0nF
RrWyBNhW22Ua0nWUDZhAhQYjpDqBkoQMMp3TCpE8+QmmC13MTKokaEukjN3GFiyzy9L+aPoUMNWa
fBPBssukpSNKsoiWTwoms0i5BM2eQwnltzJQGNKH5SUheESBiGQAiAMiNhNhCiURCBpZhQsgNViK
CqFkidGZlVEtuOZJ5HzUXLXA0HCUsRNNTFBlgeFSlTQBIgVDPjCFvZCl+y0GhBi1G0u22bNOGTfE
uXJhx1nIDGSA5PdPGceYWgtbDyy1KUXX57LLNGMwg8o0OjyUJ7I98dFIhi6NxVgcZqn8GamY6kkF
AfLwZH2UULW1e1TnYCaLScogTH5BVaVqiKSLktSSYoq3bXJwjTSDMmHAizKo0mPVEAAGhtwMcMkK
E5rkxDJpVplZDTC648iNkyN6BeCMeLwI6ROFcjCXLtIhIQEC7AjR4Ys6lAUCvCZBAnUYaeRlCJkP
qSsNOklJcnIy+IzTibDxVP/7ksTogFk2DvrEpNnC0sFfpJSZuUQhpg6yVXUhGbbQfYJ2Q/MgisVO
EhGwiIPBkYIFA++BRFhdovMuI4JZq6q8mCUjXMReqmEyI6SLPYm09+GShKoZXOcdIHJxIhs8hWXj
FHxZGgdFIrM00eJHE1PiIlmXqxB5NcTsF1V4NovhNCciVUwlRYUHC6QLoR4QikqojbRrPKMWmIYE
NTWRjZY1RCbMjbCa6F6chKwJqQqx2ZPEdKM6TkBg+dTQixQ+hOrIkSNm2C46dVFWGCRsWmm006ZI
mhFZZ6xJCk5trDiJSclzah5eujiiTJUyclo+yeSSnbBZK7IBppqJxcZaJpnEZ8EMZgb5CfLE8cQt
TvEketmD3JJKNK3ASa5pSoNJNsnQiFF+zpgQtrcks7mokEFoLIEqZTo0oSO7ajiFNlFU/bUJHWyc
saerWNB+OInRYQsMF1T6FzaAkHMdIdYaJ17VITxZC41FthZx1bIFFDsiRM2jQqaNKo9QiQcIEQTQ
J3hKUDy7DDmlSFVAcXw8iJESgX0PMOGXIRrYizYoNkbz4pn/+5LE74Hang74pKEgAyHB3wCQpEA2
9hRxtVqZBoXrcPSMIdHZqvKuwZa0PKmhJdzOridhIe0vMVLTFSzSAWGFGTyIzTewXg25iclyZ1tr
Y3FZTdJEM4so5olmnsTiUJmHh6KDUcRSqxAiWKcoqhbEmGE0jLFro+2SKDaCM5rp0uIrbbcdNU8t
0Rmb+qRENFmyUwuSzlE/4SpsAAChKJxI8AlHgHcOqwVRK6JWjVEnbKOSNmaeyJEi2mwAoSeSgFZQ
Czzj81QCRnCSZlbYonwaEJAfJSKk2HwBJup2kKn5KW+pdZcUoWUUGqnGLPQlSWONIc1JDHGk4Ipu
j1VBVOKGK00PpEriu1MlgqzqvuNFTwWXPEY2ZyqSrnaicsjhxIkk8ogwscjoBAiY0kXZGCQCHSck
aUtE7RQCslvNQWAYPJHJEcdrRmrNIlEjgEr/XIhLTkxBTUUzLjk5LjWqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq//uS
xOcBWNoI+ASZNErcwR7gZJuhqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqoBgBiKib8jIj//wiIwDTQjMhgM
j/+ZGRkZGaa3GkJZJGw9kmIREMh8gNsy1lEVKlEbD3NRqp5uSur+SjV1uZScJuRCkRCIPkCOCZw6
UUbdKK02USyaU4NskRCVKI2HsoiEsWXhuskQhB4aGyAnPNMolVVJw2tzaupsNCkBgVB0QEZI254C
Bvr/SCwTEZkBBIVDJm3itUxBTUUzLjk5LjVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
VVVVVVVVVVVVVVVVVVVVVf/7ksSDg9KNmscghS3gAAA0gAAABFVVVVVVVVVVVVVVVVVVVVVVVVVV
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVU=" id="message-sound"></audio>
