<main id="content" class="content" role="main">
  <div class="row">
    <div class="login-container col-md-4 col-md-offset-4 mt-xlg">
      <div class="alert alert-success alert-sm row text-align-center" ng-if="success">
          <h3 class="fw-semi-bold"> {{success}} </h3>
          <br>
          <h4><a class="display-block" href="#/login"><b>Ir ao login</b></a></h4>
      </div>
      <div class="alert alert-warning alert-sm row" ng-if="error">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <span class="fw-semi-bold"> {{error}} </span>
      </div>

      <section class="widget widget-login animated fadeIn row">
        <div class="widget-header col-md-12">
          <h3 class="text-align-center">Redefinir Senha</h3>
          <form ng-submit="redefine()" class="login-form mt-lg ng-pristine ng-valid">
            <div class="form-group">
              <label for="password1">Senha</label>
              <input id="password1" type="password" class="form-control ng-pristine ng-valid ng-touched" ng-model="password">
            </div>
            <div class="form-group">
              <label for="password2">Confirmar Senha</label>
              <input id="password2" type="password" class="form-control ng-pristine ng-valid ng-touched" ng-model="passwordConfirmation">
            </div>
            <div class="clearfix text-align-center">
              <div class="btn-toolbar"><button type="submit" class="btn btn-md btn-primary" style="float: unset;">Redefinir Senha</button>
                <img class="spinner ml-md mt-md mb-md" ng-show="loading" src="../img/spinner.svg">
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>
</main>
