<!DOCTYPE html>
<html lang="pt-br" ng-app="myApp" class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Consulta Online</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/application.min.css" rel="stylesheet" type="text/css">
  <link href="css/custom.css" rel="stylesheet" type="text/css">
  <link href="bower_components/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet" type="text/css">
  <link href="bower_components/slick-carousel/slick/slick.css" rel="stylesheet" type="text/css">
  <link href="bower_components/slick-carousel/slick/slick-theme.css" rel="stylesheet" type="text/css">

  <style type="text/css">
    body,
    html {
      height: 100%;
    }

    .app-loading {
      position: fixed;
      height: 100%;
      width: 100%;
      background: #eee;
      z-index: 10000;
      transition: 500ms;
    }

    .app-loading .spinner {
      height: 200px;
      width: 200px;
      animation: rotate 2s linear infinite;
      transform-origin: center center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    .app-loading .spinner .path {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      animation: dash 1.5s ease-in-out infinite;
      stroke-linecap: round;
      stroke: #ddd;
    }

    @keyframes rotate {
      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes dash {
      0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
      }
      50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
      }
      100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
      }
    }
  </style>

  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
        $('.app-loading') .fadeOut();
    });
  </script>
</head>

<body>

  <div class="app-loading">
    <div class="logo"></div>
    <svg class="spinner" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
      </svg>
  </div>

  <nav class="navbar navbar-default" ng-hide="navbarHide" ng-cloak>
    <div class="container-fluid" ng-class="{'col-md-10': isRoom, 'col-md-offset-2': isRoom}">
      <div class="nav navbar-nav navbar-left">
        <img class="main-logo" src="img/medmobi-branco.png" alt="MedMobi Crônicos">
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="mt-xs" ng-show="provider"><a href="#/inicio">Consulta</a></li>
        <li class="mt-xs" ng-show="provider"><a href="#/retorno">Retorno</a></li>
        <li class="user">
          <span class="thumb-sm avatar">
                  <img class="img-circle" ng-src="{{usuario.avatar}}" alt="{{usuario.nome}}">
              </span> &nbsp;
          <strong>{{usuario.nome}}</strong>
        </li>
        <li class="mt-xs"><a ng-click="logOut()"><i class="fa fa-sign-out-alt"></i> &nbsp; Sair</a></li>
      </ul>
    </div>
  </nav>

  <div ng-view></div>

  <!-- Components -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
  <script src="bower_components/angular-slick-carousel/dist/angular-slick.min.js"></script>
  <script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.min.js"></script>
  <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/angular-moment/angular-moment.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>

  <!-- Load environment variables -->
  <script src="env.js"></script>

  <!-- Pages -->
  <script src="app.js"></script>
  <script src="services/services.js"></script>
  <script src="login/login.js"></script>
  <script src="inicio/inicio.js"></script>
  <script src="sala/sala.js"></script>
  <script src="salaVisualizar/salaVisualizar.js"></script>
  <script src="retorno/retorno.js"></script>
  <script src="retornoNovo/retornoNovo.js"></script>
  <script src="retornoVisualizar/retornoVisualizar.js"></script>
  <script src="esqueciSenha/esqueciSenha.js"></script>
  <script src="redefinirSenha/redefinirSenha.js"></script>
  <script src="cookies/cookies.js"></script>
  <script src="api/api.js"></script>

  <!-- Open WebRTC -->
  <script src="js/RTCMultiConnection.js"></script>
<!--  <script src="https://rtc.medmobi.com.br/socket.io/socket.io.js"></script>-->
  <script type="text/javascript">
      var JSLink = window.__env.rtcUrl + '/socket.io/socket.io.js';
      var JSElement = document.createElement('script');
      JSElement.src = JSLink;
      document.getElementsByTagName('body')[0].appendChild(JSElement);
  </script>
  <!-- Close WebRTC -->

  <!-- Open RecordRTC -->
  <script src="js/RecordRTC.js"></script>
  <script src="js/adapter-latest.js"></script>
  <script src="js/getScreenId.js"></script>
  <!-- Close RecordRTC -->

  <script src="js/ui-bootstrap-tpls-2.5.0.js"></script>
</body>

</html>
