<main id="content" class="content" role="main">
  <div class="row">
    <div class="login-container col-md-4 col-md-offset-4 mt-xlg">
      <div class="alert alert-danger alert-sm row" ng-if="error">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <span class="fw-semi-bold"> {{error}} </span>
      </div>

      <section class="widget widget-login animated fadeIn row">
        <div class="col-md-12 text-align-center mt-xlg mb-xlg">
          <img src="../img/main-logo.png" width="60%" alt="MedMobi Crônicos">
        </div>
        <div class="widget-header col-md-12">
          <h3 class="text-align-center">Seja bem-vindo!</h3>
          <form class="login-form mt-lg ng-pristine ng-valid">
            <div class="form-group">
              <label for="email">E-mail</label>
              <input id="email" type="email" class="form-control ng-pristine ng-valid ng-touched" ng-model="email">
            </div>
            <div class="form-group">
              <label for="pswd">Senha</label>
              <input class="form-control ng-pristine ng-untouched ng-valid" id="pswd" type="password" ng-model="password">
            </div>
            <div class="clearfix">
              <a class="pull-left" href="#/esqueci">Esqueci minha senha</a>
              <div class="btn-toolbar"><button class="btn btn-md btn-primary pull-right" ng-click="login()">Entrar</button> <img class="spinner" ng-show="loading" src="../img/spinner.svg"></div>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>
</main>
