<main id="content" class="content" role="main">
  <ol class="breadcrumb">
    <li><a href="#/inicio">Consulta</a></li>
    <li class="active">Visualizar consulta</li>
  </ol>
  <h1 class="page-title">Visualização de consulta</h1>
  <section class="widget" ng-cloak>
    <header>
      <span class="thumb-sm avatar pull-left">
           <img class="img-circle" ng-src="{{paciente.avatar}}" alt="{{paciente.nome}}">
           </span>
      <h4>
              &nbsp; {{paciente.nome}}
           </h4>
    </header>
    <div class="widget-body">
      <div class="stats-row">
        <div class="stat-item">
          <h6 class="name">Código</h6>
          <p class="value">{{paciente.id}}</p>
        </div>
        <div class="stat-item">
          <h6 class="name">Sexo</h6>
          <p class="value">{{paciente.sexo}}</p>
        </div>
        <div class="stat-item">
          <h6 class="name">Nascimento</h6>
          <p class="value"> {{paciente.data_nasc}}</p>
        </div>
        <div class="stat-item">
          <h6 class="name">Telefone</h6>
          <p class="value">{{paciente.telefone}}</p>
        </div>
        <div class="stat-item pull-right">
          <button class="btn btn-primary mb-xs mr-md" id="btn-restart-videos" ng-click="restartVideos()"><i class="fa fa-refresh">&nbsp;</i> Resetar Vídeos</button>
          <button class="btn btn-success mb-xs mr-md" id="btn-start-videos" ng-click="startVideos()" style="display: none"><i class="fa fa-play">&nbsp;</i> Executar Vídeos</button>
          <button class="btn btn-success mb-xs mr-md" id="btn-pause-videos" ng-click="pauseVideos()" style="display: none"><i class="fa fa-pause">&nbsp;</i> Pausar Vídeos</button>
        </div>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="col-md-12">
      <h3>Vídeos</h3>
    </div>
    <div ng-show="videos.length > 0" ng-repeat="video in videos" class="col-md-4">
      <section class="widget">
        <div class="widget-body">
          <video ng-src="{{agendamentoApiUrl}}/upload/videos/download/{{video.file_id}}" controls></video>
        </div>
      </section>
    </div>
    <div class="col-md-12" ng-show="videos.length === 0">
      Nenhum vídeo encontrado
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Exames Alterados</h3>
    </div>
    <div ng-show="imagens.length > 0" ng-repeat="imagem in imagens" class="col-md-6">
      <section class="widget">
        <div class="widget-body">
          <img width="100%" ng-src="{{agendamentoApiUrl}}/upload/exames_alterados/download/{{imagem.file_id}}">
        </div>
      </section>
    </div>
    <div class="col-md-12" ng-show="imagens.length === 0">
      Nenhum exame encontrado
    </div>
  </div>

  <!-- Chat -->

  <section class="chat chatH" ng-class="{chatOn: chat, chatOffH: !chat}">
    <div class="widget">
      <header ng-click="chat = !chat">
        <h4>
              <span class="fw-semi-bold">Chat</span>
              <i class="pull-right fa" ng-class="{'fa-chevron-down': chat, 'fa-chevron-up': !chat}"></i>
           </h4>
      </header>
      <ul id="mensagensH" class="post-comments mt-sm footer" style="overflow-y:scroll; overflow-x:hidden;">
        <li ng-show="chatLoader"><img class="spinner" style="width: 60px; position: absolute; top: 160px; left: calc(50% - 30px); z-index: 5000; background: #fff; border-radius: 50%; box-shadow: 0px 5px 20px 0px #0000001a;" src="../img/spinner.svg"></li>
        <li ng-repeat="mensagem in mensagens" ng-model="mensagem" ng-bind-html-unsafe="mensagem.mensagem">
          <span class="thumb-xs avatar pull-left mr-sm">
                <img class="img-circle" ng-src="{{mensagem.avatar}}" alt="...">
                </span>
          <div class="comment-body">
            <h6 class="author fw-semi-bold">{{mensagem.nome}} <small>{{mensagem.hora}}</small>
            <span class="fa-stack fa-md" ng-if="mensagem.local && !mensagem.chatMessage" ng-class="{'text-muted': mensagem.status === 'sent' || mensagem.status === 'received', 'text-primary': mensagem.status === 'read'}">
                <i ng-if="mensagem.status === 'received' || mensagem.status === 'read'" class="fa fa-check fa-stack-1x" style="margin-left:4px"></i>
                <i ng-if="mensagem.status === 'received' || mensagem.status === 'read'" class="fa fa-check fa-inverse fa-stack-1x" style="margin-left:-3px;"></i>
                <i class="fa fa-check  fa-stack-1x" style="margin-left:-4px"></i>
            </span>
          </h6>
            <p class="mensagem">{{mensagem.mensagem}}</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</main>
