<main id="content" class="content" role="main">
  <h1 class="page-title">Consultas</h1>
  <div class="row">
    <div class="col-md-12">
        <div class="clearfix">
            <ul class="nav nav-tabs pull-left">
                <li class="active"><a href="#agenda" data-toggle="tab" target="_self">Consultas a Fazer</a></li>
                <li><a href="#historico" data-toggle="tab" target="_self">Consultas Realizadas</a></li>
            </ul>
        </div>
        <div class="tab-content mb-lg">
            <div class="tab-pane active clearfix" id="agenda">
              <div class="pull-right mb-md">
                <b class="mr-sm">Buscar</b>
                <input type="text" class="searchbox" placeholder="Buscar pacientes" ng-model="searchText">
                <b class="ml-lg mr-sm">Resultados por página</b>
                <select class="selectbox" ng-model="pageSize">
                  <option value="10" ng-selected="true">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>
              <img class="spinner ml-md mt-md mb-md" ng-show="loading" src="../img/spinner.svg">
              <table ng-show="!loading" class="table">
                  <thead>
                    <tr>
                        <th></th>
                        <th>Paciente</th>
                        <th>Data</th>
                        <th>Opções</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!--<p ng-if="!loading && pacientes.length === 0">Nenhuma consulta encontrada</p>-->
                    <tr ng-repeat="paciente in pacientes | filter: searchText | startFrom: (currentPage - 1) * pageSize | orderBy: '-data_prevista' | limitTo: pageSize " >
                        <td>
                            <img class="img-circle" ng-src="{{paciente.avatar}}" alt="{{paciente.nome}}" height="40">
                        </td>
                        <td>
                          <a ng-click="notify(paciente)">
                            <span class="fw-semi-bold">{{paciente.nome}}</span>
                          </a>
                        </td>
                        <td class="hidden-xs text-semi-muted">
                            <span class="date"><i class="fa fa-calendar"></i>{{paciente.data_prevista | amDateFormat:"DD/MM/YYYY   HH:mm:ss"}}</span>
                        </td>
                        <td class="hidden-xs text-semi-muted">
                            <a ng-click="notify(paciente)" class="btn btn-primary mb-xs mr-md">Abrir sala</a>
                        </td>
                    </tr>
                  </tbody>
              </table>
              <ul ng-show="!searchText" uib-pagination total-items="pacientes.length" ng-model="currentPage" items-per-page="pageSize"></ul>
            </div>
            <div class="tab-pane" id="historico">
              <div class="pull-right mb-md">
                <b class="mr-sm">Buscar</b>
                <input type="text" class="searchbox" placeholder="Buscar pacientes" ng-model="searchText">
                <b class="ml-lg mr-sm">Resultados por página</b>
                <select class="selectbox" ng-model="pageSize">
                  <option value="10" ng-selected="true">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>
              <img class="spinner ml-md mt-md mb-md" ng-show="loadingH" src="../img/spinner.svg">
              <table class="table">
                  <thead>
                    <tr>
                        <th></th>
                        <th>Paciente</th>
                        <th>Data agendada</th>
                        <th>Data Realizada</th>
                        <th>Opções</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="historico in historicos | filter: searchText | startFrom: (HcurrentPage - 1) * pageSize | orderBy: '-data_prevista' | limitTo: pageSize " >
                        <td>
                            <img class="img-circle" ng-src="{{historico.avatar}}" alt="{{historico.nome}}" height="40">
                        </td>
                        <td>
                          <a href="#/sala/{{historico.id}}/{{historico.sala}}">
                            <span class="fw-semi-bold">{{historico.nome}}</span>
                          </a>
                        </td>
                        <td class="hidden-xs text-semi-muted">
                          <span class="date"><i class="fa fa-calendar"></i>{{historico.data_prevista | amDateFormat:"DD/MM/YYYY  HH:mm:ss"}}</span>
                        </td>
                        <td class="hidden-xs text-semi-muted">
                          <span class="date"><i class="fa fa-calendar"></i>{{historico.data_enviada | amDateFormat:"DD/MM/YYYY  HH:mm:ss"}}</span>
                        </td>
                        <td class="hidden-xs text-semi-muted">
                            <a href="#/sala/{{historico.id}}/{{historico.sala}}" class="btn btn-success mb-xs mr-md">Visualizar consulta</a>
                        </td>
                    </tr>
                  </tbody>
              </table>
              <ul ng-show="!searchText" uib-pagination total-items="historicos.length" ng-model="HcurrentPage" items-per-page="pageSize"></ul>
            </div>
        </div>
    </div>
  </div>
</main>
